[submodule "RFOverlayScrollView"]
	path = RFOverlayScrollView
	url = https://github.com/rheinfabrik/RFOverlayScrollView
[submodule "CocoaLumberjack"]
	path = CocoaLumberjack
	url = https://github.com/CocoaLumberjack/CocoaLumberjack
