<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CellType</key>
	<string>Menu</string>
	<key>Domain</key>
	<string>com.apple.airplay</string>
	<key>Description</key>
	<string></string>
	<key>Title</key>
	<string>AirPlay</string>
	<key>ImagePath</key>
	<string>/System/Library/CoreServices/Menu\ Extras/Volume.menu/Contents/Resources/Airplay.pdf</string>
</dict>
</plist>
