<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CellType</key>
	<string>Menu</string>
	<key>Domain</key>
	<string>com.apple.configurationprofile.identification</string>
	<key>Description</key>
	<string></string>
	<key>Title</key>
	<string>Identification</string>
	<key>DomainKeys</key>
	<array>
		<dict>
			<key>Required</key>
			<true/>
			<key>Title</key>
			<string>User Display Name</string>
			<key>Key</key>
			<string></string>
			<key>Type</key>
			<string>String</string>
			<key>Description</key>
			<string>The user display name for the accounts</string>
			<key>DefaultValue</key>
			<string></string>
			<key>CellType</key>
			<string>TextField</string>
		</dict>
		<dict>
			<key>Required</key>
			<true/>
			<key>Title</key>
			<string>Email Address</string>
			<key>Key</key>
			<string></string>
			<key>Type</key>
			<string>String</string>
			<key>Description</key>
			<string>The email address for the accounts</string>
			<key>DefaultValue</key>
			<string></string>
			<key>CellType</key>
			<string>TextField</string>
		</dict>
		<dict>
			<key>Required</key>
			<true/>
			<key>Title</key>
			<string>User Name</string>
			<key>Key</key>
			<string></string>
			<key>Type</key>
			<string>String</string>
			<key>Description</key>
			<string>The user name for the accounts</string>
			<key>DefaultValue</key>
			<string></string>
			<key>CellType</key>
			<string>TextField</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Password</string>
			<key>Key</key>
			<string></string>
			<key>Type</key>
			<string>String</string>
			<key>Description</key>
			<string>The password for the accounts</string>
			<key>DefaultValue</key>
			<string></string>
			<key>CellType</key>
			<string>TextField</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>User Enters Password</string>
			<key>Key</key>
			<string></string>
			<key>Type</key>
			<string>Boolean</string>
			<key>Description</key>
			<string>The user enters the password upon profile installation</string>
			<key>DefaultValue</key>
			<false/>
			<key>CellType</key>
			<string>Checkbox</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Prompt</string>
			<key>Key</key>
			<string></string>
			<key>Type</key>
			<string>String</string>
			<key>Description</key>
			<string>Pompt text for any of the above values</string>
			<key>DefaultValue</key>
			<string></string>
			<key>CellType</key>
			<string>TextField</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Prompt Message</string>
			<key>Key</key>
			<string></string>
			<key>Type</key>
			<string>String</string>
			<key>Description</key>
			<string>Additional descriptive text for the Prompt field</string>
			<key>DefaultValue</key>
			<string></string>
			<key>CellType</key>
			<string>TextField</string>
		</dict>
	</array>
</dict>
</plist>
