<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CellType</key>
	<string>Menu</string>
	<key>Domain</key>
	<string>com.apple.font</string>
	<key>Description</key>
	<string>Not Configured</string>
	<key>Title</key>
	<string>Font</string>
	<key>IconName</key>
	<string>MenuIconFont.png</string>
	<key>IconPath</key>
	<string>/Applications/Font Book.app/Contents/Resources/appicon.icns</string>
	<key>PayloadKeys</key>
	<array>
		<dict>
			<key>ToolTip</key>
			<string>The user-visible name for the font. This field is replaced by the actual name of the font after installation.</string>
			<key>Title</key>
			<string>Name</string>
			<key>Key</key>
			<string>Name</string>
			<key>Type</key>
			<string>String</string>
			<key>Description</key>
			<string>The user-visible name for the font</string>
			<key>CellType</key>
			<string>TextField</string>
		</dict>
		<dict>
			<key>ToolTip</key>
			<string>The contents of the font file.</string>
			<key>Title</key>
			<string>Font</string>
			<key>Key</key>
			<string>Font</string>
			<key>Type</key>
			<string>Data</string>
			<key>Description</key>
			<string>Font file (.otf, .ttf, etc) for inclusion on device</string>
			<key>CellType</key>
			<string>File</string>
			<key>FilePrompt</key>
			<string>Add Font</string>
			<key>FileInfoProcessor</key>
			<string>FileInfoProcessorFont</string>
			<key>ButtonTitle</key>
			<string>Add Font...</string>
			<key>AllowedFileTypes</key>
			<array>
				<string>public.opentype-font</string>
				<string>public.truetype-font</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
