<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CellType</key>
	<string>Menu</string>
	<key>Domain</key>
	<string>com.apple.airplay</string>
	<key>Description</key>
	<string>Not Configured</string>
	<key>Title</key>
	<string>AirPlay</string>
	<key>IconName</key>
	<string>MenuIconAirPlay.png</string>
	<key>DomainKeys</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Known AirPlay Destinations</string>
			<key>Key</key>
			<string></string>
			<key>Type</key>
			<string>Array</string>
			<key>Description</key>
			<string>Description</string>
			<key>CellType</key>
			<string>TableView</string>
		</dict>
	</array>
</dict>
</plist>
