<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Availability</key>
	<array>
		<dict>
			<key>AvailabilityKey</key>
			<string>Self</string>
			<key>AvailabilityOS</key>
			<string>iOS</string>
			<key>Available</key>
			<false/>
		</dict>
	</array>
	<key>Domain</key>
	<string>com.apple.mcxprinting.manifest</string>
	<key>Description</key>
	<string>FIXME</string>
	<key>Title</key>
	<string>Printing</string>
	<key>IconName</key>
	<string>MenuIconPrinting.png</string>
	<key>PayloadType</key>
	<string>com.apple.mcxprinting</string>
	<key>PayloadScope</key>
	<array>
		<string>User</string>
		<string>System</string>
	</array>
	<key>AllowMultiplePayloads</key>
	<false/>
	<key>ManifestContent</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>3428C924-54C0-43A3-89A2-1AADD0334DA4</string>
			<key>Title</key>
			<string>Printer List</string>
			<key>PayloadType</key>
			<string>com.apple.mcxprinting</string>
			<key>PayloadKey</key>
			<string>UserPrinterList</string>
			<key>PayloadValueType</key>
			<string>Dict</string>
			<key>Description</key>
			<string>The printers available to a user</string>
			<key>CellType</key>
			<string>TableView</string>
			<key>TableViewColumns</key>
			<array>
				<dict>
					<key>ColumnWidth</key>
					<integer>65</integer>
					<key>Identifier</key>
					<string>6098AE27-4B57-476A-87CF-5169C5CAD501</string>
					<key>Title</key>
					<string>Admin Only</string>
					<key>PayloadKey</key>
					<string>PrinterLocked</string>
					<key>PayloadType</key>
					<string>com.apple.mcxprinting</string>
					<key>CellType</key>
					<string>TableViewCheckbox</string>
				</dict>
				<dict>
					<key>Identifier</key>
					<string>A06427C1-6B6A-435E-A213-738A3D4B2D52</string>
					<key>Title</key>
					<string>Display Name</string>
					<key>PayloadKey</key>
					<string>DisplayName</string>
					<key>PayloadType</key>
					<string>com.apple.mcxprinting</string>
					<key>CellType</key>
					<string>TableViewTextField</string>
				</dict>
				<dict>
					<key>Identifier</key>
					<string>76D56ED0-077B-4749-89D2-2B19D2003640</string>
					<key>Title</key>
					<string>Location</string>
					<key>PayloadKey</key>
					<string>Location</string>
					<key>PayloadType</key>
					<string>com.apple.mcxprinting</string>
					<key>CellType</key>
					<string>TableViewTextField</string>
				</dict>
				<dict>
					<key>Identifier</key>
					<string>F43B39B9-782E-44E2-BF1B-AB1C7D096E03</string>
					<key>Title</key>
					<string>Model</string>
					<key>PayloadKey</key>
					<string>Model</string>
					<key>PayloadType</key>
					<string>com.apple.mcxprinting</string>
					<key>CellType</key>
					<string>TableViewTextField</string>
				</dict>
				<dict>
					<key>Identifier</key>
					<string>F251D5F5-08F6-43F1-8512-A67AC80963A6</string>
					<key>Title</key>
					<string>Device URI</string>
					<key>PayloadKey</key>
					<string>DeviceURI</string>
					<key>PayloadType</key>
					<string>com.apple.mcxprinting</string>
					<key>CellType</key>
					<string>TableViewTextField</string>
				</dict>
				<dict>
					<key>Identifier</key>
					<string>EC63CCA3-8C1F-4CA7-B0BA-855D1247E7B7</string>
					<key>Title</key>
					<string>PPD URL</string>
					<key>PayloadKey</key>
					<string>PPDURL</string>
					<key>PayloadType</key>
					<string>com.apple.mcxprinting</string>
					<key>CellType</key>
					<string>TableViewTextField</string>
				</dict>
			</array>
			<key>ToolTipDescription</key>
			<string>FIXME</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>794EA6C5-944C-494F-9803-83A5B967BFE9</string>
			<key>Title</key>
			<string>Default Printer</string>
			<key>PayloadKey</key>
			<string>DefaultPrinter</string>
			<key>PayloadType</key>
			<string>com.apple.mcxprinting</string>
			<key>PayloadValueType</key>
			<string>Dict</string>
			<key>CellType</key>
			<string>PopUpButton</string>
			<key>AvailableValues</key>
			<array>
				<string>None</string>
			</array>
			<key>ValueKeys</key>
			<dict/>
			<key>DefaultValue</key>
			<string>None</string>
			<key>ToolTipDescription</key>
			<string>FIXME</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>4069F586-F703-43A4-B22A-F0D7F6384EC9</string>
			<key>Title</key>
			<string>Allow user to modify printer list</string>
			<key>PayloadType</key>
			<string>com.apple.mcxprinting</string>
			<key>PayloadKey</key>
			<string>RequireAdminToAddPrinters</string>
			<key>InverseBoolean</key>
			<true/>
			<key>CellType</key>
			<string>Checkbox</string>
			<key>ToolTipDescription</key>
			<string>FIXME</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>114D162D-14AB-4B7D-A1F0-7DCC17EE6305</string>
			<key>Title</key>
			<string>Allow printers that connect directly to user&apos;s computer</string>
			<key>PayloadType</key>
			<string>com.apple.mcxprinting</string>
			<key>PayloadKey</key>
			<string>AllowLocalPrinters</string>
			<key>CellType</key>
			<string>Checkbox</string>
			<key>ToolTipDescription</key>
			<string>FIXME</string>
		</dict>
		<dict>
			<key>Availability</key>
			<array>
				<dict>
					<key>AvailabilityKey</key>
					<string>Enabled</string>
					<key>AvailabilityOS</key>
					<string>Any</string>
					<key>AvailabilityValue</key>
					<false/>
					<key>AvailableIf</key>
					<dict>
						<key>SelectionIdentifier</key>
						<string>114D162D-14AB-4B7D-A1F0-7DCC17EE6305</string>
						<key>SelectionValue</key>
						<false/>
					</dict>
				</dict>
			</array>
			<key>Identifier</key>
			<string>DCAE7CC3-5EC2-438F-9894-4A45F4897C44</string>
			<key>Title</key>
			<string>Require an administrator password</string>
			<key>IndentLevel</key>
			<integer>2</integer>
			<key>PayloadType</key>
			<string>com.apple.mcxprinting</string>
			<key>PayloadKey</key>
			<string>RequireAdminToPrintLocally</string>
			<key>CellType</key>
			<string>Checkbox</string>
			<key>ToolTipDescription</key>
			<string>FIXME</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>6E9D914E-CB20-4EA0-9BF5-002D8580F0B3</string>
			<key>Title</key>
			<string>Only show managed printers</string>
			<key>PayloadType</key>
			<string>com.apple.mcxprinting</string>
			<key>PayloadKey</key>
			<string>ShowOnlyManagedPrinters</string>
			<key>CellType</key>
			<string>Checkbox</string>
			<key>ToolTipDescription</key>
			<string>FIXME</string>
		</dict>
		<dict>
			<key>CellType</key>
			<string>Padding</string>
			<key>PaddingHeight</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Required</key>
			<true/>
			<key>Identifier</key>
			<string>A9A5BCD0-FBEE-479A-8203-8EEDEE27ED68</string>
			<key>Title</key>
			<string>Footer Settings</string>
			<key>Description</key>
			<string>Settings for the optional footer applied to pages</string>
			<key>CellType</key>
			<string>TextLabel</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>59333554-694E-4C22-80FB-B9D16B33F941</string>
			<key>Title</key>
			<string>Print page footer (user name and date)</string>
			<key>PayloadType</key>
			<string>com.apple.mcxprinting</string>
			<key>PayloadKey</key>
			<string>PrintFooter</string>
			<key>CellType</key>
			<string>Checkbox</string>
			<key>ToolTipDescription</key>
			<string>FIXME</string>
		</dict>
		<dict>
			<key>Availability</key>
			<array>
				<dict>
					<key>AvailabilityKey</key>
					<string>Enabled</string>
					<key>AvailabilityOS</key>
					<string>Any</string>
					<key>AvailabilityValue</key>
					<false/>
					<key>AvailableIf</key>
					<dict>
						<key>SelectionIdentifier</key>
						<string>59333554-694E-4C22-80FB-B9D16B33F941</string>
						<key>SelectionValue</key>
						<false/>
					</dict>
				</dict>
			</array>
			<key>Identifier</key>
			<string>52D327A7-984A-46EB-8D12-8F85FF6F4D19</string>
			<key>Title</key>
			<string>Include MAC address</string>
			<key>IndentLevel</key>
			<integer>2</integer>
			<key>PayloadType</key>
			<string>com.apple.mcxprinting</string>
			<key>PayloadKey</key>
			<string>PrintMACAddress</string>
			<key>CellType</key>
			<string>Checkbox</string>
			<key>ToolTipDescription</key>
			<string>FIXME</string>
		</dict>
		<dict>
			<key>Availability</key>
			<array>
				<dict>
					<key>AvailabilityKey</key>
					<string>Enabled</string>
					<key>AvailabilityOS</key>
					<string>Any</string>
					<key>AvailabilityValue</key>
					<false/>
					<key>AvailableIf</key>
					<dict>
						<key>SelectionIdentifier</key>
						<string>59333554-694E-4C22-80FB-B9D16B33F941</string>
						<key>SelectionValue</key>
						<false/>
					</dict>
				</dict>
			</array>
			<key>Identifier</key>
			<string>76080B3A-A103-40DD-A77E-2D77F0BC63FC</string>
			<key>Title</key>
			<string>Font Name</string>
			<key>IndentLevel</key>
			<integer>2</integer>
			<key>PayloadKey</key>
			<string>FooterFontName</string>
			<key>PayloadType</key>
			<string>com.apple.mcxprinting</string>
			<key>CellType</key>
			<string>PopUpButton</string>
			<key>DefaultValue</key>
			<string>Helvetica</string>
			<key>AvailableValues</key>
			<array>
				<string>Helvetica</string>
				<string>Courier</string>
				<string>Lucida Grande</string>
				<string>Times</string>
			</array>
			<key>ToolTipDescription</key>
			<string>FIXME</string>
		</dict>
		<dict>
			<key>Availability</key>
			<array>
				<dict>
					<key>AvailabilityKey</key>
					<string>Enabled</string>
					<key>AvailabilityOS</key>
					<string>Any</string>
					<key>AvailabilityValue</key>
					<false/>
					<key>AvailableIf</key>
					<dict>
						<key>SelectionIdentifier</key>
						<string>59333554-694E-4C22-80FB-B9D16B33F941</string>
						<key>SelectionValue</key>
						<false/>
					</dict>
				</dict>
			</array>
			<key>Identifier</key>
			<string>DBEFC6CD-A706-4D42-80A2-B8052927EC71</string>
			<key>Title</key>
			<string>Font Size</string>
			<key>IndentLevel</key>
			<integer>2</integer>
			<key>PayloadKey</key>
			<string>FooterFontSize</string>
			<key>PayloadType</key>
			<string>com.apple.mcxprinting</string>
			<key>CellType</key>
			<string>TextFieldNumber</string>
			<key>DefaultValue</key>
			<integer>7</integer>
			<key>ToolTipDescription</key>
			<string>FIXME</string>
		</dict>
	</array>
</dict>
</plist>
