<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Availability</key>
	<array>
		<dict>
			<key>AvailabilityKey</key>
			<string>Self</string>
			<key>AvailabilityOS</key>
			<string>iOS</string>
			<key>Available</key>
			<false/>
		</dict>
	</array>
	<key>Domain</key>
	<string>com.apple.mobility.manifest</string>
	<key>Description</key>
	<string>FIXME</string>
	<key>Title</key>
	<string>Mobility</string>
	<key>IconName</key>
	<string>MenuIconMobility.png</string>
	<key>PayloadTypes</key>
	<array>
		<string>com.apple.mcxMenuExtras</string>
		<string>com.apple.MCX</string>
		<string>com.apple.homeSync</string>
	</array>
	<key>PayloadScope</key>
	<array>
		<string>User</string>
		<string>System</string>
	</array>
	<key>AllowMultiplePayloads</key>
	<false/>
	<key>ManifestContent</key>
	<array>
		<dict>
			<key>Required</key>
			<true/>
			<key>Identifier</key>
			<string>5C99E67E-5210-4012-88B4-A9F8A22F59DC</string>
			<key>CellType</key>
			<string>SegmentedControl</string>
			<key>AvailableValues</key>
			<array>
				<string>Account Creation</string>
				<string>Account Expiry</string>
				<string>Rules</string>
			</array>
			<key>ValueKeys</key>
			<dict>
				<key>Account Creation</key>
				<array>
					<dict>
						<key>Identifier</key>
						<string>7F631A24-0FDF-4F93-BAE6-0761D3F59ADD</string>
						<key>Title</key>
						<string>Create mobile account when user logs in to network account</string>
						<key>PayloadType</key>
						<string>com.apple.MCX</string>
						<key>PayloadKey</key>
						<string>com.apple.cachedaccounts.CreateAtLogin</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Availability</key>
						<array>
							<dict>
								<key>AvailabilityKey</key>
								<string>Enabled</string>
								<key>AvailabilityOS</key>
								<string>Any</string>
								<key>AvailabilityValue</key>
								<false/>
								<key>AvailableIf</key>
								<dict>
									<key>SelectionIdentifier</key>
									<string>7F631A24-0FDF-4F93-BAE6-0761D3F59ADD</string>
									<key>SelectionValue</key>
									<false/>
								</dict>
							</dict>
						</array>
						<key>Identifier</key>
						<string>95AFC383-D95E-4F33-801D-6D22080632F8</string>
						<key>Title</key>
						<string>Require confirmation before creating mobile account</string>
						<key>IndentLevel</key>
						<integer>2</integer>
						<key>PayloadType</key>
						<string>com.apple.MCX</string>
						<key>PayloadKey</key>
						<string>com.apple.cachedaccounts.WarnOnCreate</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Availability</key>
						<array>
							<dict>
								<key>AvailabilityKey</key>
								<string>Enabled</string>
								<key>AvailabilityOS</key>
								<string>Any</string>
								<key>AvailabilityValue</key>
								<false/>
								<key>AvailableIf</key>
								<dict>
									<key>SelectionIdentifier</key>
									<string>7F631A24-0FDF-4F93-BAE6-0761D3F59ADD</string>
									<key>SelectionValue</key>
									<false/>
								</dict>
							</dict>
							<dict>
								<key>AvailabilityKey</key>
								<string>Enabled</string>
								<key>AvailabilityOS</key>
								<string>Any</string>
								<key>AvailabilityValue</key>
								<false/>
								<key>AvailableIf</key>
								<dict>
									<key>SelectionIdentifier</key>
									<string>95AFC383-D95E-4F33-801D-6D22080632F8</string>
									<key>SelectionValue</key>
									<false/>
								</dict>
							</dict>
						</array>
						<key>Identifier</key>
						<string>B7A60EF3-CBEB-4025-9CD4-B053575027E5</string>
						<key>Title</key>
						<string>Show &quot;Don&apos;t ask me again&quot; checkbox</string>
						<key>IndentLevel</key>
						<integer>4</integer>
						<key>PayloadType</key>
						<string>com.apple.MCX</string>
						<key>PayloadKey</key>
						<string>cachedaccounts.WarnOnCreate.allowNever</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Availability</key>
						<array>
							<dict>
								<key>AvailabilityKey</key>
								<string>Enabled</string>
								<key>AvailabilityOS</key>
								<string>Any</string>
								<key>AvailabilityValue</key>
								<false/>
								<key>AvailableIf</key>
								<dict>
									<key>SelectionIdentifier</key>
									<string>7F631A24-0FDF-4F93-BAE6-0761D3F59ADD</string>
									<key>SelectionValue</key>
									<false/>
								</dict>
							</dict>
						</array>
						<key>Identifier</key>
						<string>F580C8F7-EADB-4490-914D-E35C563CE552</string>
						<key>Title</key>
						<string>Create home using:</string>
						<key>IndentLevel</key>
						<integer>2</integer>
						<key>IndentLevelButtons</key>
						<integer>4</integer>
						<key>PayloadType</key>
						<string>com.apple.MCX</string>
						<key>PayloadKey</key>
						<string>com.apple.cachedaccounts.CreatePHDAtLogin</string>
						<key>PayloadValueType</key>
						<string>Boolean</string>
						<key>DefaultValue</key>
						<string>local home template</string>
						<key>CellType</key>
						<string>RadioButton</string>
						<key>AvailableValues</key>
						<array>
							<string>network home and default sync settings</string>
							<string>local home template</string>
						</array>
						<key>ValueKeys</key>
						<dict>
							<key>network home and default sync settings</key>
							<array>
								<dict>
									<key>PayloadValue</key>
									<false/>
								</dict>
							</array>
							<key>local home template</key>
							<array>
								<dict>
									<key>PayloadValue</key>
									<true/>
								</dict>
							</array>
						</dict>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Availability</key>
						<array>
							<dict>
								<key>AvailabilityKey</key>
								<string>Enabled</string>
								<key>AvailabilityOS</key>
								<string>Any</string>
								<key>AvailabilityValue</key>
								<false/>
								<key>AvailableIf</key>
								<dict>
									<key>SelectionIdentifier</key>
									<string>7F631A24-0FDF-4F93-BAE6-0761D3F59ADD</string>
									<key>SelectionValue</key>
									<false/>
								</dict>
							</dict>
						</array>
						<key>Identifier</key>
						<string>4A339F7F-4B2E-4832-81EF-87D4DAC02F7F</string>
						<key>Title</key>
						<string>Encrypt contents with FileVault</string>
						<key>PayloadType</key>
						<string>com.apple.MCX</string>
						<key>PayloadKey</key>
						<string>cachedaccounts.create.encrypt</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Availability</key>
						<array>
							<dict>
								<key>AvailabilityKey</key>
								<string>Enabled</string>
								<key>AvailabilityOS</key>
								<string>Any</string>
								<key>AvailabilityValue</key>
								<false/>
								<key>AvailableIf</key>
								<dict>
									<key>SelectionIdentifier</key>
									<string>7F631A24-0FDF-4F93-BAE6-0761D3F59ADD</string>
									<key>SelectionValue</key>
									<false/>
								</dict>
							</dict>
							<dict>
								<key>AvailabilityKey</key>
								<string>Enabled</string>
								<key>AvailabilityOS</key>
								<string>Any</string>
								<key>AvailabilityValue</key>
								<false/>
								<key>AvailableIf</key>
								<dict>
									<key>SelectionIdentifier</key>
									<string>4A339F7F-4B2E-4832-81EF-87D4DAC02F7F</string>
									<key>SelectionValue</key>
									<false/>
								</dict>
							</dict>
						</array>
						<key>Identifier</key>
						<string>75194DF0-62D5-430D-A98C-728A6150A158</string>
						<key>IndentLevelButtons</key>
						<integer>2</integer>
						<key>PayloadType</key>
						<string>com.apple.MCX</string>
						<key>PayloadKey</key>
						<string>cachedaccounts.create.encrypt.requireMasterPassword</string>
						<key>PayloadValueType</key>
						<string>Boolean</string>
						<key>DefaultValue</key>
						<string>Use computer master password, if available</string>
						<key>CellType</key>
						<string>RadioButton</string>
						<key>AvailableValues</key>
						<array>
							<string>Use computer master password, if available</string>
							<string>Require computer master password</string>
						</array>
						<key>ValueKeys</key>
						<dict>
							<key>Use computer master password, if available</key>
							<array>
								<dict>
									<key>PayloadValue</key>
									<false/>
								</dict>
							</array>
							<key>Require computer master password</key>
							<array>
								<dict>
									<key>PayloadValue</key>
									<true/>
								</dict>
							</array>
						</dict>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Availability</key>
						<array>
							<dict>
								<key>AvailabilityKey</key>
								<string>Enabled</string>
								<key>AvailabilityOS</key>
								<string>Any</string>
								<key>AvailabilityValue</key>
								<false/>
								<key>AvailableIf</key>
								<dict>
									<key>SelectionIdentifier</key>
									<string>7F631A24-0FDF-4F93-BAE6-0761D3F59ADD</string>
									<key>SelectionValue</key>
									<false/>
								</dict>
							</dict>
							<dict>
								<key>AvailabilityKey</key>
								<string>Enabled</string>
								<key>AvailabilityOS</key>
								<string>Any</string>
								<key>AvailabilityValue</key>
								<false/>
								<key>AvailableIf</key>
								<dict>
									<key>SelectionIdentifier</key>
									<string>4A339F7F-4B2E-4832-81EF-87D4DAC02F7F</string>
									<key>SelectionValue</key>
									<false/>
								</dict>
							</dict>
						</array>
						<key>Identifier</key>
						<string>D04276A3-0600-4C0F-9864-AB1B15836EE5</string>
						<key>Title</key>
						<string>Restrict size:</string>
						<key>IndentLevel</key>
						<integer>2</integer>
						<key>PayloadType</key>
						<string>com.apple.MCX</string>
						<key>PayloadKey</key>
						<string>cachedaccounts.create.maxSize</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>ValueKeys</key>
						<dict>
							<key>True</key>
							<array>
								<dict>
									<key>PayloadValue</key>
									<string></string>
								</dict>
							</array>
							<key>False</key>
							<array>
								<dict>
									<key>PayloadValue</key>
									<string></string>
								</dict>
							</array>
						</dict>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Availability</key>
						<array>
							<dict>
								<key>AvailabilityKey</key>
								<string>Enabled</string>
								<key>AvailabilityOS</key>
								<string>Any</string>
								<key>AvailabilityValue</key>
								<false/>
								<key>AvailableIf</key>
								<dict>
									<key>SelectionIdentifier</key>
									<string>7F631A24-0FDF-4F93-BAE6-0761D3F59ADD</string>
									<key>SelectionValue</key>
									<false/>
								</dict>
							</dict>
							<dict>
								<key>AvailabilityKey</key>
								<string>Enabled</string>
								<key>AvailabilityOS</key>
								<string>Any</string>
								<key>AvailabilityValue</key>
								<false/>
								<key>AvailableIf</key>
								<dict>
									<key>SelectionIdentifier</key>
									<string>4A339F7F-4B2E-4832-81EF-87D4DAC02F7F</string>
									<key>SelectionValue</key>
									<false/>
								</dict>
							</dict>
							<dict>
								<key>AvailabilityKey</key>
								<string>Enabled</string>
								<key>AvailabilityOS</key>
								<string>Any</string>
								<key>AvailabilityValue</key>
								<false/>
								<key>AvailableIf</key>
								<dict>
									<key>SelectionIdentifier</key>
									<string>D04276A3-0600-4C0F-9864-AB1B15836EE5</string>
									<key>SelectionValue</key>
									<false/>
								</dict>
							</dict>
						</array>
						<key>Identifier</key>
						<string>8BDFE699-FEF1-48A1-9E83-9D73D8F6DDE1</string>
						<key>IndentLevelButtons</key>
						<integer>2</integer>
						<key>PayloadType</key>
						<string>com.apple.MCX</string>
						<key>DefaultValue</key>
						<string>to fixed size:%TextFieldNumber%MB</string>
						<key>CellType</key>
						<string>RadioButton</string>
						<key>AvailableValues</key>
						<array>
							<string>to fixed size:%TextFieldNumber%MB</string>
							<string>to percentage of network home quota:%TextFieldNumber%%</string>
						</array>
						<key>ValueKeys</key>
						<dict>
							<key>to fixed size:%TextFieldNumber%MB</key>
							<array>
								<dict>
									<key>%TextFieldNumber%</key>
									<dict>
										<key>Identifier</key>
										<string>375385A7-0D8F-45BE-A77F-3E4675D8046C</string>
										<key>PayloadKey</key>
										<string>cachedaccounts.create.maxSize.fixedSize</string>
										<key>PayloadType</key>
										<string>String</string>
										<key>DefaultValue</key>
										<string>250</string>
										<key>Width</key>
										<integer>40</integer>
									</dict>
								</dict>
							</array>
							<key>to percentage of network home quota:%TextFieldNumber%%</key>
							<array>
								<dict>
									<key>%TextFieldNumber%</key>
									<dict>
										<key>Identifier</key>
										<string>02AC64BA-844D-44A6-A54F-134A6C96325A</string>
										<key>PayloadKey</key>
										<string>cachedaccounts.create.maxSize.percentOfNetworkHome</string>
										<key>PayloadType</key>
										<string>Integer</string>
										<key>DefaultValue</key>
										<string>100</string>
										<key>MinValue</key>
										<string>1</string>
										<key>MaxValue</key>
										<string>100</string>
										<key>Width</key>
										<integer>40</integer>
									</dict>
								</dict>
							</array>
						</dict>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Availability</key>
						<array>
							<dict>
								<key>AvailabilityKey</key>
								<string>Enabled</string>
								<key>AvailabilityOS</key>
								<string>Any</string>
								<key>AvailabilityValue</key>
								<false/>
								<key>AvailableIf</key>
								<dict>
									<key>SelectionIdentifier</key>
									<string>7F631A24-0FDF-4F93-BAE6-0761D3F59ADD</string>
									<key>SelectionValue</key>
									<false/>
								</dict>
							</dict>
						</array>
						<key>Identifier</key>
						<string>301270B4-1FB2-4FAF-89EA-5A71BEA812FF</string>
						<key>Title</key>
						<string>Home folder location:</string>
						<key>IndentLevelButtons</key>
						<integer>2</integer>
						<key>PayloadKey</key>
						<string>cachedaccounts.create.location</string>
						<key>PayloadType</key>
						<string>com.apple.MCX</string>
						<key>PayloadValueType</key>
						<string>String</string>
						<key>DefaultValue</key>
						<string>on startup volume</string>
						<key>CellType</key>
						<string>RadioButton</string>
						<key>AvailableValues</key>
						<array>
							<string>on startup volume</string>
							<string>at path:%TextField%</string>
							<string>user chooses any volume</string>
							<string>user chooses any internal volume</string>
							<string>user chooses any external volume</string>
						</array>
						<key>ValueKeys</key>
						<dict>
							<key>on startup volume</key>
							<array>
								<dict>
									<key>PayloadValue</key>
									<string>startup</string>
								</dict>
							</array>
							<key>at path:%TextField%</key>
							<array>
								<dict>
									<key>PayloadValue</key>
									<string>path</string>
								</dict>
								<dict>
									<key>%TextField%</key>
									<dict>
										<key>Identifier</key>
										<string>812B0488-1F85-43BD-BC4C-7FFD86801A72</string>
										<key>PayloadKey</key>
										<string>cachedaccounts.create.location.path</string>
										<key>PayloadType</key>
										<string>String</string>
										<key>Width</key>
										<integer>250</integer>
									</dict>
								</dict>
							</array>
							<key>user chooses any volume</key>
							<array/>
							<key>user chooses any internal volume</key>
							<array/>
							<key>user chooses any external volume</key>
							<array/>
						</dict>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
				</array>
				<key>Account Expiry</key>
				<array>
					<dict>
						<key>Identifier</key>
						<string>7E745E11-4DC9-4E5D-BCBE-D2614056EF62</string>
						<key>Title</key>
						<string>Delete mobile accounts:</string>
						<key>PayloadType</key>
						<string>com.apple.MCX</string>
						<key>PayloadKey</key>
						<string>cachedaccounts.create.encrypt</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Availability</key>
						<array>
							<dict>
								<key>AvailabilityKey</key>
								<string>Enabled</string>
								<key>AvailabilityOS</key>
								<string>Any</string>
								<key>AvailabilityValue</key>
								<false/>
								<key>AvailableIf</key>
								<dict>
									<key>SelectionIdentifier</key>
									<string>7E745E11-4DC9-4E5D-BCBE-D2614056EF62</string>
									<key>SelectionValue</key>
									<false/>
								</dict>
							</dict>
						</array>
						<key>Identifier</key>
						<string>3BE5F84E-AFE3-4BBD-84E1-874F8D7FB6A2</string>
						<key>Title</key>
						<string>Delete only after successful sync</string>
						<key>IndentLevel</key>
						<integer>2</integer>
						<key>PayloadType</key>
						<string>com.apple.MCX</string>
						<key>PayloadKey</key>
						<string>com.apple.cachedaccounts.WarnOnCreate</string>
						<key>DefaultValue</key>
						<true/>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
				</array>
				<key>Rules</key>
				<array>
					<dict>
						<key>Required</key>
						<true/>
						<key>Identifier</key>
						<string>E8333747-7D15-4144-A8D7-419C04745847</string>
						<key>CellType</key>
						<string>SegmentedControl</string>
						<key>AvailableValues</key>
						<array>
							<string>Preference Sync</string>
							<string>Home Sync</string>
							<string>Options</string>
						</array>
						<key>ValueKeys</key>
						<dict>
							<key>Preference Sync</key>
							<array/>
							<key>Home Sync</key>
							<array/>
							<key>Options</key>
							<array>
								<dict>
									<key>Identifier</key>
									<string>89F3253C-D5AE-4A4B-9CF8-E72688C67A72</string>
									<key>Title</key>
									<string>Sync in the background:</string>
									<key>IndentLevelButtons</key>
									<integer>2</integer>
									<key>PayloadType</key>
									<string>com.apple.MCX</string>
									<key>PayloadKey</key>
									<string></string>
									<key>PayloadValueType</key>
									<string></string>
									<key>DefaultValue</key>
									<string>Manually</string>
									<key>CellType</key>
									<string>RadioButton</string>
									<key>AvailableValues</key>
									<array>
										<string>Manually</string>
										<string>Every%TextField%minutes</string>
									</array>
									<key>ValueKeys</key>
									<dict>
										<key>Manually</key>
										<array>
											<dict>
												<key>PayloadValue</key>
												<false/>
											</dict>
										</array>
										<key>Every%TextField%minutes</key>
										<array>
											<dict>
												<key>PayloadValue</key>
												<true/>
											</dict>
											<dict>
												<key>%TextField%</key>
												<dict>
													<key>Identifier</key>
													<string>025CED53-B3E4-4EBB-8B50-1BBA7D9B419D</string>
													<key>PayloadKey</key>
													<string></string>
													<key>PayloadType</key>
													<string>String</string>
													<key>Width</key>
													<integer>30</integer>
													<key>DefaultValue</key>
													<string>5</string>
												</dict>
											</dict>
										</array>
									</dict>
									<key>ToolTipDescription</key>
									<string>FIXME</string>
								</dict>
								<dict>
									<key>Identifier</key>
									<string>B92C1C8A-88FE-49BB-A30C-4E2A2721DEC9</string>
									<key>Title</key>
									<string>Show status in menu bar</string>
									<key>PayloadType</key>
									<string>com.apple.MCX</string>
									<key>PayloadKey</key>
									<string></string>
									<key>DefaultValue</key>
									<false/>
									<key>CellType</key>
									<string>Checkbox</string>
									<key>ToolTipDescription</key>
									<string>FIXME</string>
								</dict>
							</array>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
