<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CellType</key>
	<string>Menu</string>
	<key>Domain</key>
	<string>com.apple.font</string>
	<key>Description</key>
	<string>Not Configured</string>
	<key>Title</key>
	<string>Font</string>
	<key>IconName</key>
	<string>MenuIconFont.png</string>
	<key>IconPath</key>
	<string>/Applications/Font Book.app/Contents/Resources/appicon.icns</string>
	<key>ManifestContent</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>43F88A1A-98E7-4B3B-A32C-AE8DF4BD04F2</string>
			<key>ToolTip</key>
			<string>The user-visible name for the font. This field is replaced by the actual name of the font after installation.</string>
			<key>Title</key>
			<string>Name</string>
			<key>PayloadType</key>
			<string>com.apple.font</string>
			<key>PayloadKey</key>
			<string>Name</string>
			<key>Description</key>
			<string>The user-visible name for the font</string>
			<key>CellType</key>
			<string>TextField</string>
			<key>ToolTipDescription</key>
			<string>The user-visible name for the font. This field is replaced by the actual name of the font after installation</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>A8DEC07C-C0B0-4CBE-B0A9-0BC6CB37A1E5</string>
			<key>Title</key>
			<string>Font</string>
			<key>Required</key>
			<true/>
			<key>PayloadType</key>
			<string>com.apple.font</string>
			<key>PayloadKey</key>
			<string>Font</string>
			<key>PayloadValueType</key>
			<string>Data</string>
			<key>Description</key>
			<string>Font file (.otf or .ttf) for inclusion on device</string>
			<key>CellType</key>
			<string>File</string>
			<key>FilePrompt</key>
			<string>Add Font</string>
			<key>FileInfoProcessor</key>
			<string>FileInfoProcessorFont</string>
			<key>ButtonTitle</key>
			<string>Add Font...</string>
			<key>AllowedFileTypes</key>
			<array>
				<string>public.opentype-font</string>
				<string>public.truetype-font</string>
			</array>
			<key>ToolTipDescription</key>
			<string>The contents of the font file. Collection formats (.ttc or .otc) are not supported</string>
		</dict>
	</array>
</dict>
</plist>
