<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Availability</key>
	<array>
		<dict>
			<key>AvailabilityKey</key>
			<string>Self</string>
			<key>AvailabilityOS</key>
			<string>iOS</string>
			<key>Available</key>
			<false/>
		</dict>
	</array>
	<key>CellType</key>
	<string>Menu</string>
	<key>Domain</key>
	<string>com.apple.mobility.manifest</string>
	<key>Description</key>
	<string>FIXME</string>
	<key>Title</key>
	<string>Mobility</string>
	<key>IconName</key>
	<string>MenuIconMobility.png</string>
	<key>PayloadTypes</key>
	<array>
		<string>com.apple.mcxMenuExtras</string>
		<string>com.apple.MCX</string>
		<string>com.apple.homeSync</string>
	</array>
	<key>AllowMultiplePayloads</key>
	<false/>
	<key>ManifestContent</key>
	<array>
		<dict>
			<key>Required</key>
			<true/>
			<key>Identifier</key>
			<string>5C99E67E-5210-4012-88B4-A9F8A22F59DC</string>
			<key>CellType</key>
			<string>SegmentedControl</string>
			<key>AvailableValues</key>
			<array>
				<string>Account Creation</string>
				<string>Account Expiry</string>
				<string>Rules</string>
			</array>
			<key>ValueKeys</key>
			<dict>
				<key>Account Creation</key>
				<array>
					<dict>
						<key>Identifier</key>
						<string>7F631A24-0FDF-4F93-BAE6-0761D3F59ADD</string>
						<key>Title</key>
						<string>Create mobile account when user logs in to network account</string>
						<key>PayloadType</key>
						<string>com.apple.MCX</string>
						<key>PayloadKey</key>
						<string>com.apple.cachedaccounts.CreateAtLogin</string>
						<key>CellType</key>
						<string>CheckboxNoDescription</string>
						<key>FontWeight</key>
						<string>Bold</string>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>95AFC383-D95E-4F33-801D-6D22080632F8</string>
						<key>Title</key>
						<string>Require confirmation before creating mobile account</string>
						<key>IndentLevel</key>
						<integer>2</integer>
						<key>PayloadType</key>
						<string>com.apple.MCX</string>
						<key>PayloadKey</key>
						<string>com.apple.cachedaccounts.WarnOnCreate</string>
						<key>CellType</key>
						<string>CheckboxNoDescription</string>
						<key>FontWeight</key>
						<string>Bold</string>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Availability</key>
						<array>
							<dict>
								<key>AvailabilityKey</key>
								<string>Enabled</string>
								<key>AvailabilityOS</key>
								<string>Any</string>
								<key>AvailabilityValue</key>
								<false/>
								<key>AvailableIf</key>
								<dict>
									<key>SelectionIdentifier</key>
									<string>95AFC383-D95E-4F33-801D-6D22080632F8</string>
									<key>SelectionValue</key>
									<false/>
								</dict>
							</dict>
						</array>
						<key>Identifier</key>
						<string>B7A60EF3-CBEB-4025-9CD4-B053575027E5</string>
						<key>Title</key>
						<string>Show &quot;Don&apos;t as me again&quot; checkbox</string>
						<key>IndentLevel</key>
						<integer>4</integer>
						<key>PayloadType</key>
						<string>com.apple.MCX</string>
						<key>PayloadKey</key>
						<string>cachedaccounts.WarnOnCreate.allowNever</string>
						<key>CellType</key>
						<string>CheckboxNoDescription</string>
						<key>FontWeight</key>
						<string>Bold</string>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
				</array>
				<key>Account Expiry</key>
				<array/>
				<key>Rules</key>
				<array/>
			</dict>
		</dict>
	</array>
</dict>
</plist>
