<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Domain</key>
	<string>com.apple.carddav.account.manifest</string>
	<key>Description</key>
	<string>FIXME</string>
	<key>Title</key>
	<string>Contacts</string>
	<key>IconName</key>
	<string>MenuIconContacts.png</string>
	<key>IconPath</key>
	<string>/Applications/Contacts.app/Contents/Resources/vCard.icns</string>
	<key>AllowMultiplePayloads</key>
	<true/>
	<key>PayloadTabTitle</key>
	<string>A5A60ECB-7A48-4EFF-9F42-84287229C339</string>
	<key>Availability</key>
	<array>
		<dict>
			<key>AvailabilityKey</key>
			<string>Self</string>
			<key>AvailabilityOS</key>
			<string>OSX</string>
			<key>AvailableFrom</key>
			<string>10.8</string>
		</dict>
	</array>
	<key>PayloadTypes</key>
	<array>
		<string>com.apple.carddav.account</string>
	</array>
	<key>ManifestContent</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>DAB4F476-B623-4A4A-A771-09B41983FDBD</string>
			<key>Optional</key>
			<true/>
			<key>Title</key>
			<string>Account Description</string>
			<key>PayloadType</key>
			<string>com.apple.carddav.account</string>
			<key>PayloadKey</key>
			<string>CardDAVAccountDescription</string>
			<key>Description</key>
			<string>The display name of the account</string>
			<key>CellType</key>
			<string>TextField</string>
			<key>ToolTipDescription</key>
			<string>The description of the account</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>964426DE-D207-487B-A18D-B199EB27F9EA</string>
			<key>Title</key>
			<string>Account Hostname and Port</string>
			<key>RequiredHost</key>
			<true/>
			<key>OptionalPort</key>
			<true/>
			<key>PayloadType</key>
			<string>com.apple.carddav.account</string>
			<key>PayloadKeyHost</key>
			<string>CardDAVHostName</string>
			<key>PayloadKeyPort</key>
			<string>CardDAVPort</string>
			<key>DefaultValuePort</key>
			<string>8843</string>
			<key>PayloadValueTypePort</key>
			<string>String</string>
			<key>Description</key>
			<string>The CardDAV hostname or IP address and port number</string>
			<key>CellType</key>
			<string>TextFieldHostPort</string>
			<key>ToolTipDescription</key>
			<string>The server address and port</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>E3B10B08-5704-43F8-9A4C-A70183452562</string>
			<key>Title</key>
			<string>Principal URL</string>
			<key>Optional</key>
			<true/>
			<key>PayloadType</key>
			<string>com.apple.carddav.account</string>
			<key>PayloadKey</key>
			<string>CardDAVPrincipalURL</string>
			<key>Description</key>
			<string>The Principal URL for the CardDAV account</string>
			<key>CellType</key>
			<string>TextField</string>
			<key>ToolTipDescription</key>
			<string>The base URL to the user’s address book</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>A5A60ECB-7A48-4EFF-9F42-84287229C339</string>
			<key>Required</key>
			<true/>
			<key>Title</key>
			<string>Account Username</string>
			<key>PayloadType</key>
			<string>com.apple.carddav.account</string>
			<key>PayloadKey</key>
			<string>CardDAVUsername</string>
			<key>Description</key>
			<string>The CardDAV username</string>
			<key>CellType</key>
			<string>TextField</string>
			<key>ToolTipDescription</key>
			<string>The user&apos;s login name</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>308B9727-1AC6-4FB2-9193-2BE485E797C1</string>
			<key>Title</key>
			<string>Account Password</string>
			<key>Optional</key>
			<true/>
			<key>PayloadType</key>
			<string>com.apple.carddav.account</string>
			<key>PayloadKey</key>
			<string>CardDAVPassword</string>
			<key>Description</key>
			<string>The CardDAV password</string>
			<key>CellType</key>
			<string>TextField</string>
			<key>ToolTipDescription</key>
			<string>The user&apos;s password</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>F86E60CB-6492-4120-996D-3CF907F4EF65</string>
			<key>Title</key>
			<string>Use SSL</string>
			<key>Optional</key>
			<true/>
			<key>PayloadType</key>
			<string>com.apple.carddav.account</string>
			<key>PayloadKey</key>
			<string>CardDAVUseSSL</string>
			<key>PayloadValueType</key>
			<string>Boolean</string>
			<key>DefaultValue</key>
			<true/>
			<key>Description</key>
			<string>Enable Secure Socket Layer communication with CardDAV server</string>
			<key>CellType</key>
			<string>Checkbox</string>
			<key>ToolTipDescription</key>
			<string>Whether or not to use SSL</string>
		</dict>
	</array>
</dict>
</plist>
