<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Availability</key>
	<array>
		<dict>
			<key>AvailabilityKey</key>
			<string>Self</string>
			<key>AvailabilityOS</key>
			<string>OSX</string>
			<key>Available</key>
			<false/>
		</dict>
		<dict>
			<key>AvailabilityKey</key>
			<string>Self</string>
			<key>AvailabilityOS</key>
			<string>iOS</string>
			<key>AvailableTo</key>
			<string>6.1.6</string>
		</dict>
	</array>
	<key>CellType</key>
	<string>Menu</string>
	<key>Domain</key>
	<string>com.apple.apn.managed.manifest</string>
	<key>Description</key>
	<string>FIXME</string>
	<key>Title</key>
	<string>APN</string>
	<key>IconName</key>
	<string></string>
	<key>PayloadTypes</key>
	<array>
		<string>com.apple.apn.managed</string>
	</array>
	<key>AllowMultiplePayloads</key>
	<false/>
	<key>ManifestContent</key>
	<array/>
	<key>INFO</key>
	<string>This is deprecated from 7.0, will add later</string>
</dict>
</plist>
