<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Availability</key>
	<array>
		<dict>
			<key>AvailabilityKey</key>
			<string>Self</string>
			<key>AvailabilityOS</key>
			<string>iOS</string>
			<key>Available</key>
			<false/>
		</dict>
	</array>
	<key>CellType</key>
	<string>Menu</string>
	<key>Domain</key>
	<string>com.apple.loginitems.manifest</string>
	<key>Description</key>
	<string>FIXME</string>
	<key>Title</key>
	<string>Login Items</string>
	<key>IconName</key>
	<string>MenuIconLoginItems.png</string>
	<key>PayloadTypes</key>
	<array>
		<string>loginwindow</string>
		<string>com.apple.loginitems.managed</string>
	</array>
	<key>AllowMultiplePayloads</key>
	<false/>
	<key>ManifestContent</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>FB78C6C5-A1BC-421F-980F-E4FEA37C7C4D</string>
			<key>Title</key>
			<string>Apps</string>
			<key>PayloadType</key>
			<string>com.apple.loginitems.managed</string>
			<key>PayloadKey</key>
			<string>AutoLaunchedApplicationDictionary-managed</string>
			<key>PayloadValueType</key>
			<string>Array</string>
			<key>Description</key>
			<string>The apps that will launch at login</string>
			<key>CellType</key>
			<string>TableView</string>
			<key>TableViewColumns</key>
			<array>
				<dict>
					<key>ColumnWidth</key>
					<integer>30</integer>
					<key>Identifier</key>
					<string>A2AFB185-4CD8-421A-B97D-E68B9DB70768</string>
					<key>Title</key>
					<string>Hide</string>
					<key>PayloadKey</key>
					<string>Hide</string>
					<key>PayloadType</key>
					<string>com.apple.loginitems.managed</string>
					<key>CellType</key>
					<string>TableViewCheckbox</string>
				</dict>
				<dict>
					<key>Identifier</key>
					<string>51CA7825-99E2-45F6-95E9-4BD5D961B3F0</string>
					<key>Title</key>
					<string>Application Path</string>
					<key>PayloadKey</key>
					<string>Path</string>
					<key>PayloadType</key>
					<string>com.apple.loginitems.managed</string>
					<key>CellType</key>
					<string>TableViewTextField</string>
					<key>PlaceholderValue</key>
					<string>/Applications/Safari.app</string>
				</dict>
			</array>
			<key>ToolTipDescription</key>
			<string>FIXME</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>78265F9F-9CB5-4166-8A8F-BF75CC6EF13A</string>
			<key>Title</key>
			<string>Items</string>
			<key>PayloadType</key>
			<string>com.apple.loginitems.managed</string>
			<key>PayloadKey</key>
			<string>AutoLaunchedApplicationDictionary-managed</string>
			<key>PayloadValueType</key>
			<string>Array</string>
			<key>Description</key>
			<string>The files and folders that will open at login</string>
			<key>CellType</key>
			<string>TableView</string>
			<key>TableViewColumns</key>
			<array>
				<dict>
					<key>ColumnWidth</key>
					<integer>30</integer>
					<key>Identifier</key>
					<string>BC4F1631-BF23-4998-94FF-BB28DAF708D2</string>
					<key>Title</key>
					<string>Hide</string>
					<key>PayloadKey</key>
					<string>Hide</string>
					<key>PayloadType</key>
					<string>com.apple.loginitems.managed</string>
					<key>CellType</key>
					<string>TableViewCheckbox</string>
				</dict>
				<dict>
					<key>Identifier</key>
					<string>3B7EE888-1678-43C5-9D99-32FABFDA42C1</string>
					<key>Title</key>
					<string>Item Path</string>
					<key>PayloadKey</key>
					<string>Path</string>
					<key>PayloadType</key>
					<string>com.apple.loginitems.managed</string>
					<key>CellType</key>
					<string>TableViewTextField</string>
					<key>PlaceholderValue</key>
					<string>/Users/Shared</string>
				</dict>
			</array>
			<key>ToolTipDescription</key>
			<string>FIXME</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>89DCBAC8-202F-473A-A18B-2C49BA91380C</string>
			<key>Title</key>
			<string>Network Mounts</string>
			<key>PayloadType</key>
			<string>com.apple.loginitems.managed</string>
			<key>PayloadKey</key>
			<string>AutoLaunchedApplicationDictionary-managed</string>
			<key>PayloadValueType</key>
			<string>Array</string>
			<key>Description</key>
			<string>The network mounts that will be mounted at login. (Optionally authenticate as logged in user)</string>
			<key>CellType</key>
			<string>TableView</string>
			<key>TableViewColumns</key>
			<array>
				<dict>
					<key>ColumnWidth</key>
					<integer>30</integer>
					<key>Identifier</key>
					<string>EB902B01-C0A8-4654-87E6-B9D9C0728E8C</string>
					<key>Title</key>
					<string>Hide</string>
					<key>PayloadKey</key>
					<string>Hide</string>
					<key>PayloadType</key>
					<string>com.apple.loginitems.managed</string>
					<key>CellType</key>
					<string>TableViewCheckbox</string>
				</dict>
				<dict>
					<key>ColumnWidth</key>
					<integer>75</integer>
					<key>Identifier</key>
					<string>EC37FB6C-2098-4809-8F96-1EB4E0681ADB</string>
					<key>Title</key>
					<string>Authenticate</string>
					<key>PayloadKey</key>
					<string>AuthenticateAsLoginUserShortName</string>
					<key>PayloadType</key>
					<string>com.apple.loginitems.managed</string>
					<key>CellType</key>
					<string>TableViewCheckbox</string>
				</dict>
				<dict>
					<key>Identifier</key>
					<string>799127EF-72AC-459C-A3EA-87AF7AEE5A82</string>
					<key>Title</key>
					<string>Mount URL</string>
					<key>PayloadKey</key>
					<string>URL</string>
					<key>PayloadType</key>
					<string>com.apple.loginitems.managed</string>
					<key>CellType</key>
					<string>TableViewTextField</string>
					<key>PlaceholderValue</key>
					<string>afp://example.com/VolumeName</string>
				</dict>
			</array>
			<key>ToolTipDescription</key>
			<string>FIXME</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>ED7153C8-5089-4B4F-8684-B577F335056E</string>
			<key>Title</key>
			<string>Add network home share point</string>
			<key>CellType</key>
			<string>Checkbox</string>
			<key>ToolTipDescription</key>
			<string>FIXME</string>
			<key>ValueKeys</key>
			<dict>
				<key>True</key>
				<array>
					<dict>
						<key>Identifier</key>
						<string>AD20E751-A3DA-4EFD-B620-939B005425B0</string>
						<key>Hidden</key>
						<true/>
						<key>Title</key>
						<string>User Home Share Point</string>
						<key>DefaultValue</key>
						<array>
							<dict>
								<key>EB902B01-C0A8-4654-87E6-B9D9C0728E8C</key>
								<dict>
									<key>Value</key>
									<false/>
								</dict>
								<key>EC37FB6C-2098-4809-8F96-1EB4E0681ADB</key>
								<dict>
									<key>Value</key>
									<true/>
								</dict>
								<key>799127EF-72AC-459C-A3EA-87AF7AEE5A82</key>
								<dict>
									<key>Value</key>
									<true/>
								</dict>
							</dict>
						</array>
						<key>PayloadType</key>
						<string>loginwindow</string>
						<key>PayloadKey</key>
						<string>AutoLaunchedApplicationDictionary-managed</string>
						<key>PayloadValueType</key>
						<string>Array</string>
						<key>Description</key>
						<string>The user home share point that will be mounted at login.</string>
						<key>CellType</key>
						<string>TableView</string>
						<key>TableViewColumns</key>
						<array>
							<dict>
								<key>ColumnWidth</key>
								<integer>30</integer>
								<key>Identifier</key>
								<string>EB902B01-C0A8-4654-87E6-B9D9C0728E8C</string>
								<key>Title</key>
								<string>Hide</string>
								<key>PayloadKey</key>
								<string>Hide</string>
								<key>PayloadType</key>
								<string>com.apple.loginitems.managed</string>
								<key>CellType</key>
								<string>TableViewCheckbox</string>
								<key>DefaultValue</key>
								<false/>
							</dict>
							<dict>
								<key>ColumnWidth</key>
								<integer>75</integer>
								<key>Identifier</key>
								<string>EC37FB6C-2098-4809-8F96-1EB4E0681ADB</string>
								<key>Title</key>
								<string>Authenticate</string>
								<key>PayloadKey</key>
								<string>AuthenticateAsLoginUserShortName</string>
								<key>PayloadType</key>
								<string>com.apple.loginitems.managed</string>
								<key>CellType</key>
								<string>TableViewCheckbox</string>
								<key>DefaultValue</key>
								<true/>
							</dict>
							<dict>
								<key>Identifier</key>
								<string>799127EF-72AC-459C-A3EA-87AF7AEE5A82</string>
								<key>PayloadKey</key>
								<string>MCX-NetworkHomeDirectoryItem</string>
								<key>PayloadType</key>
								<string>com.apple.loginitems.managed</string>
								<key>CellType</key>
								<string>TableViewCheckbox</string>
								<key>DefaultValue</key>
								<true/>
							</dict>
						</array>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>1446A4BF-375F-469C-8548-E22A46ED9608</string>
			<key>Title</key>
			<string>User may press Shift to keep items from opening</string>
			<key>PayloadType</key>
			<string>loginwindow</string>
			<key>PayloadKey</key>
			<string>DisableLoginItemsSuppression</string>
			<key>CellType</key>
			<string>Checkbox</string>
			<key>ToolTipDescription</key>
			<string>FIXME</string>
		</dict>
	</array>
</dict>
</plist>
