<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Availability</key>
	<array>
		<dict>
			<key>AvailabilityKey</key>
			<string>Self</string>
			<key>AvailabilityOS</key>
			<string>iOS</string>
			<key>Available</key>
			<false/>
		</dict>
	</array>
	<key>Domain</key>
	<string>com.apple.DirectoryService.managed.manifest</string>
	<key>Description</key>
	<string>FIXME</string>
	<key>Title</key>
	<string>Directory</string>
	<key>IconName</key>
	<string>MenuIconDirectory.png</string>
	<key>PayloadType</key>
	<string>com.apple.DirectoryService.managed</string>
	<key>PayloadScope</key>
	<array>
		<string>System</string>
	</array>
	<key>AllowMultiplePayloads</key>
	<false/>
	<key>ManifestContent</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>091E35E5-7D7E-496D-8DE9-2AAF1BDF0D28</string>
			<key>Title</key>
			<string>Directory Type</string>
			<key>DefaultValue</key>
			<string>Open Directory/LDAP</string>
			<key>Description</key>
			<string>The type of directory server configured with this policy</string>
			<key>CellType</key>
			<string>PopUpButton</string>
			<key>AvailableValues</key>
			<array>
				<string>Active Directory</string>
				<string>Open Directory/LDAP</string>
			</array>
			<key>ValueKeys</key>
			<dict>
				<key>Active Directory</key>
				<array>
					<dict>
						<key>SharedKey</key>
						<string>HostName</string>
					</dict>
					<dict>
						<key>SharedKey</key>
						<string>UserName</string>
					</dict>
					<dict>
						<key>SharedKey</key>
						<string>Password</string>
					</dict>
					<dict>
						<key>SharedKey</key>
						<string>ClientID</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>AA4CB231-4A3A-47EE-AE2B-20AEA626656A</string>
						<key>Optional</key>
						<true/>
						<key>Title</key>
						<string>Organizational Unit</string>
						<key>PayloadType</key>
						<string>com.apple.DirectoryService.managed</string>
						<key>PayloadKey</key>
						<string>FIXME</string>
						<key>Description</key>
						<string>The directory server organizational unit</string>
						<key>CellType</key>
						<string>TextField</string>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Required</key>
						<true/>
						<key>Identifier</key>
						<string>CAF2B2A1-7744-4CF5-88EE-14C28F038A04</string>
						<key>CellType</key>
						<string>SegmentedControl</string>
						<key>AvailableValues</key>
						<array>
							<string>User Experience</string>
							<string>Mappings</string>
							<string>Administrative</string>
						</array>
						<key>ValueKeys</key>
						<dict>
							<key>User Experience</key>
							<array>
								<dict>
									<key>Identifier</key>
									<string>273289EA-EC87-4E82-8AC8-BF45FD19400B</string>
									<key>Title</key>
									<string>Create mobile account at login</string>
									<key>PayloadType</key>
									<string>com.apple.DirectoryService.managed</string>
									<key>PayloadKey</key>
									<string>ADCreateMobileAccountAtLogin</string>
									<key>CellType</key>
									<string>Checkbox</string>
									<key>ToolTipDescription</key>
									<string>FIXME</string>
								</dict>
								<dict>
									<key>Availability</key>
									<array>
										<dict>
											<key>AvailabilityKey</key>
											<string>Enabled</string>
											<key>AvailabilityOS</key>
											<string>Any</string>
											<key>AvailabilityValue</key>
											<false/>
											<key>AvailableIf</key>
											<dict>
												<key>SelectionIdentifier</key>
												<string>273289EA-EC87-4E82-8AC8-BF45FD19400B</string>
												<key>SelectionValue</key>
												<false/>
											</dict>
										</dict>
									</array>
									<key>Identifier</key>
									<string>54323CFB-7487-4009-86E2-1918FE6A774C</string>
									<key>Title</key>
									<string>Require confirmation before creating mobile account</string>
									<key>IndentLevel</key>
									<integer>2</integer>
									<key>PayloadType</key>
									<string>com.apple.DirectoryService.managed</string>
									<key>PayloadKey</key>
									<string>ADWarnUserBeforeCreatingMA</string>
									<key>CellType</key>
									<string>Checkbox</string>
									<key>ToolTipDescription</key>
									<string>FIXME</string>
								</dict>
								<dict>
									<key>Availability</key>
									<array>
										<dict>
											<key>AvailabilityKey</key>
											<string>Enabled</string>
											<key>AvailabilityOS</key>
											<string>Any</string>
											<key>AvailabilityValue</key>
											<false/>
											<key>AvailableIf</key>
											<dict>
												<key>SelectionIdentifier</key>
												<string>273289EA-EC87-4E82-8AC8-BF45FD19400B</string>
												<key>SelectionValue</key>
												<true/>
											</dict>
										</dict>
									</array>
									<key>Identifier</key>
									<string>D78A682F-9EA3-4F85-B545-E6857DF862D0</string>
									<key>Title</key>
									<string>Force local home directory on startup disk</string>
									<key>PayloadType</key>
									<string>com.apple.DirectoryService.managed</string>
									<key>PayloadKey</key>
									<string>ADWarnUserBeforeCreatingMA</string>
									<key>DefaultValue</key>
									<true/>
									<key>CellType</key>
									<string>Checkbox</string>
									<key>ToolTipDescription</key>
									<string>FIXME</string>
								</dict>
								<dict>
									<key>Identifier</key>
									<string>D73A0789-6B91-4206-B16B-A75582DEDD7F</string>
									<key>Title</key>
									<string>Use UNC path from Active Directory to derive network home location</string>
									<key>PayloadType</key>
									<string>com.apple.DirectoryService.managed</string>
									<key>PayloadKey</key>
									<string>ADUseWindowsUNCPath</string>
									<key>DefaultValue</key>
									<true/>
									<key>CellType</key>
									<string>Checkbox</string>
									<key>ToolTipDescription</key>
									<string>FIXME</string>
								</dict>
								<dict>
									<key>Availability</key>
									<array>
										<dict>
											<key>AvailabilityKey</key>
											<string>Enabled</string>
											<key>AvailabilityOS</key>
											<string>Any</string>
											<key>AvailabilityValue</key>
											<false/>
											<key>AvailableIf</key>
											<dict>
												<key>SelectionIdentifier</key>
												<string>D73A0789-6B91-4206-B16B-A75582DEDD7F</string>
												<key>SelectionValue</key>
												<false/>
											</dict>
										</dict>
									</array>
									<key>Identifier</key>
									<string>375077C7-4C37-4B7F-906D-CD3C4E14B4EE</string>
									<key>Title</key>
									<string>Mount Style</string>
									<key>DefaultValue</key>
									<string>smb</string>
									<key>PayloadKey</key>
									<string>ADMountStyle</string>
									<key>PayloadType</key>
									<string>com.apple.DirectoryService.managed</string>
									<key>PayloadValueType</key>
									<string>String</string>
									<key>Description</key>
									<string>Network protocol to be used to mount home directory</string>
									<key>CellType</key>
									<string>PopUpButton</string>
									<key>AvailableValues</key>
									<array>
										<string>smb</string>
										<string>afp</string>
									</array>
									<key>ToolTipDescription</key>
									<string>FIXME</string>
								</dict>
								<dict>
									<key>Identifier</key>
									<string>1BAD61B1-6FD5-48AA-B9DF-590BB8ACE136</string>
									<key>Required</key>
									<true/>
									<key>Title</key>
									<string>Default user shell</string>
									<key>PayloadType</key>
									<string>com.apple.DirectoryService.managed</string>
									<key>PayloadKey</key>
									<string>ADDefaultUserShell</string>
									<key>CellType</key>
									<string>TextField</string>
									<key>DefaultValue</key>
									<string>/bin/bash</string>
									<key>PlaceholderValue</key>
									<string>/bin/bash</string>
									<key>ToolTipDescription</key>
									<string>FIXME</string>
								</dict>
							</array>
							<key>Mappings</key>
							<array>
								<dict>
									<key>Identifier</key>
									<string>848E5739-7AF6-43F6-A8D9-8616B9EAFC7C</string>
									<key>Optional</key>
									<true/>
									<key>Title</key>
									<string>Map UID to attribute</string>
									<key>PayloadType</key>
									<string>com.apple.DirectoryService.managed</string>
									<key>PayloadKey</key>
									<string>ADMapUIDAttribute</string>
									<key>CellType</key>
									<string>TextField</string>
									<key>ToolTipDescription</key>
									<string>FIXME</string>
								</dict>
								<dict>
									<key>Identifier</key>
									<string>3D0D3804-2DBB-4419-A757-13257813D5B9</string>
									<key>Optional</key>
									<true/>
									<key>Title</key>
									<string>Map user GID to attribute</string>
									<key>PayloadType</key>
									<string>com.apple.DirectoryService.managed</string>
									<key>PayloadKey</key>
									<string>ADMapGIDAttribute</string>
									<key>CellType</key>
									<string>TextField</string>
									<key>ToolTipDescription</key>
									<string>FIXME</string>
								</dict>
								<dict>
									<key>Identifier</key>
									<string>CB7991CB-1382-4F5B-B250-7A5654A9707A</string>
									<key>Optional</key>
									<true/>
									<key>Title</key>
									<string>Map group GID to attribute</string>
									<key>PayloadType</key>
									<string>com.apple.DirectoryService.managed</string>
									<key>PayloadKey</key>
									<string>ADMapGGIDAttribute</string>
									<key>CellType</key>
									<string>TextField</string>
									<key>ToolTipDescription</key>
									<string>FIXME</string>
								</dict>
							</array>
							<key>Administrative</key>
							<array>
								<dict>
									<key>Identifier</key>
									<string>4511CCA4-77C2-413A-A5C4-673244939C4B</string>
									<key>Optional</key>
									<true/>
									<key>Title</key>
									<string>Preferred domain server</string>
									<key>PayloadType</key>
									<string>com.apple.DirectoryService.managed</string>
									<key>PayloadKey</key>
									<string>ADPreferredDCServer</string>
									<key>CellType</key>
									<string>TextField</string>
									<key>ToolTipDescription</key>
									<string>FIXME</string>
								</dict>
								<dict>
									<key>Identifier</key>
									<string>7DB613EA-FD75-4333-84D3-B83912085B2C</string>
									<key>Title</key>
									<string>Allow administration</string>
									<key>PayloadType</key>
									<string>com.apple.DirectoryService.managed</string>
									<key>PayloadKey</key>
									<string>ADDomainAdminGroupList</string>
									<key>Description</key>
									<string>All members of these groups will have administrator privileges on this computer</string>
									<key>CellType</key>
									<string>TableView</string>
									<key>ToolTipDescription</key>
									<string>FIXME</string>
									<key>TableViewColumns</key>
									<array>
										<dict>
											<key>Identifier</key>
											<string>42818A67-2B7C-410E-9BB4-4EBA8613E1F4</string>
											<key>CellType</key>
											<string>TableViewTextField</string>
										</dict>
									</array>
								</dict>
								<dict>
									<key>Identifier</key>
									<string>64D57273-F58E-4BC2-B6CC-E1E6E34297EE</string>
									<key>Title</key>
									<string>Allow authentication from any domain in the forest</string>
									<key>PayloadType</key>
									<string>com.apple.DirectoryService.managed</string>
									<key>PayloadKey</key>
									<string>ADAllowMultiDomainAuth</string>
									<key>CellType</key>
									<string>Checkbox</string>
									<key>DefaultValue</key>
									<true/>
									<key>ToolTipDescription</key>
									<string>FIXME</string>
								</dict>
								<dict>
									<key>Identifier</key>
									<string>6CC2230E-D08A-4AE2-8FD8-52648238E0A0</string>
									<key>Title</key>
									<string>Namespace</string>
									<key>DefaultValue</key>
									<string>forest</string>
									<key>PopUpButtonWidth</key>
									<integer>80</integer>
									<key>PayloadType</key>
									<string>com.apple.DirectoryService.managed</string>
									<key>PayloadKey</key>
									<string>ADNamespace</string>
									<key>PayloadValueType</key>
									<string>String</string>
									<key>CellType</key>
									<string>PopUpButton</string>
									<key>AvailableValues</key>
									<array>
										<string>forest</string>
										<string>domain</string>
									</array>
									<key>ToolTipDescription</key>
									<string>FIXME</string>
								</dict>
								<dict>
									<key>Identifier</key>
									<string>32C5C4E1-6985-4047-A113-358D6031F5C9</string>
									<key>Title</key>
									<string>Packet signing</string>
									<key>DefaultValue</key>
									<string>allow</string>
									<key>PopUpButtonWidth</key>
									<integer>80</integer>
									<key>PayloadType</key>
									<string>com.apple.DirectoryService.managed</string>
									<key>PayloadKey</key>
									<string>ADPacketSign</string>
									<key>PayloadValueType</key>
									<string>String</string>
									<key>CellType</key>
									<string>PopUpButton</string>
									<key>AvailableValues</key>
									<array>
										<string>allow</string>
										<string>disable</string>
										<string>require</string>
									</array>
									<key>ToolTipDescription</key>
									<string>FIXME</string>
								</dict>
								<dict>
									<key>Identifier</key>
									<string>27B10293-3F59-4C46-A6F7-F12B4091A225</string>
									<key>Title</key>
									<string>Packet encryption</string>
									<key>DefaultValue</key>
									<string>allow</string>
									<key>PopUpButtonWidth</key>
									<integer>80</integer>
									<key>PayloadType</key>
									<string>com.apple.DirectoryService.managed</string>
									<key>PayloadKey</key>
									<string>ADPacketEncrypt</string>
									<key>PayloadValueType</key>
									<string>String</string>
									<key>CellType</key>
									<string>PopUpButton</string>
									<key>AvailableValues</key>
									<array>
										<string>allow</string>
										<string>disable</string>
										<string>require</string>
										<string>ssl</string>
									</array>
									<key>ToolTipDescription</key>
									<string>FIXME</string>
								</dict>
								<dict>
									<key>Identifier</key>
									<string>E9A2073D-88F2-45A8-83AA-2275D81F48B3</string>
									<key>Title</key>
									<string>Restrict DDNS</string>
									<key>PayloadType</key>
									<string>com.apple.DirectoryService.managed</string>
									<key>PayloadKey</key>
									<string>ADRestrictDDNS</string>
									<key>CellType</key>
									<string>TableView</string>
									<key>ToolTipDescription</key>
									<string>FIXME</string>
									<key>TableViewColumns</key>
									<array>
										<dict>
											<key>Identifier</key>
											<string>C1EF4B1F-58DA-4088-83EE-955D13B5ABEF</string>
											<key>CellType</key>
											<string>TableViewTextField</string>
										</dict>
									</array>
								</dict>
								<dict>
									<key>Identifier</key>
									<string>A5507E9D-64EC-4A31-9F84-F7BA2FC8F1F4</string>
									<key>Title</key>
									<string>Password trust interval</string>
									<key>Description</key>
									<string>How often to change computer trust account password in days</string>
									<key>PayloadType</key>
									<string>com.apple.ADCertificate.managed</string>
									<key>PayloadKey</key>
									<string>ADTrustChangePassIntervalDays</string>
									<key>PayloadValueType</key>
									<string>Integer</string>
									<key>CellType</key>
									<string>TextFieldNumber</string>
									<key>DefaultValue</key>
									<integer>14</integer>
									<key>ToolTipDescription</key>
									<string>FIXME</string>
								</dict>
							</array>
						</dict>
					</dict>
				</array>
				<key>Open Directory/LDAP</key>
				<array>
					<dict>
						<key>SharedKey</key>
						<string>HostName</string>
					</dict>
					<dict>
						<key>SharedKey</key>
						<string>UserName</string>
					</dict>
					<dict>
						<key>SharedKey</key>
						<string>Password</string>
					</dict>
					<dict>
						<key>SharedKey</key>
						<string>ClientID</string>
					</dict>
				</array>
			</dict>
			<key>ValueKeysShared</key>
			<dict>
				<key>HostName</key>
				<dict>
					<key>Identifier</key>
					<string>337805FA-9E87-4D02-AFD7-CD49F2425E39</string>
					<key>Required</key>
					<true/>
					<key>Title</key>
					<string>Server Hostname</string>
					<key>PayloadType</key>
					<string>com.apple.DirectoryService.managed</string>
					<key>PayloadKey</key>
					<string>HostName</string>
					<key>Description</key>
					<string>The hostname of the directory server</string>
					<key>CellType</key>
					<string>TextField</string>
					<key>ToolTipDescription</key>
					<string>FIXME</string>
				</dict>
				<key>UserName</key>
				<dict>
					<key>Availability</key>
					<array>
						<dict>
							<key>AvailabilityKey</key>
							<string>Required</string>
							<key>AvailabilityOS</key>
							<string>Any</string>
							<key>AvailabilityValue</key>
							<true/>
							<key>AvailableIf</key>
							<dict>
								<key>SelectionIdentifier</key>
								<string>091E35E5-7D7E-496D-8DE9-2AAF1BDF0D28</string>
								<key>SelectionValue</key>
								<string>Active Directory</string>
							</dict>
						</dict>
					</array>
					<key>Identifier</key>
					<string>F0331C95-DEF8-4945-B74E-20AC5123A2E3</string>
					<key>Optional</key>
					<true/>
					<key>Title</key>
					<string>User name</string>
					<key>PayloadType</key>
					<string>com.apple.DirectoryService.managed</string>
					<key>PayloadKey</key>
					<string>UserName</string>
					<key>Description</key>
					<string>The directory server user name</string>
					<key>CellType</key>
					<string>TextField</string>
					<key>ToolTipDescription</key>
					<string>FIXME</string>
				</dict>
				<key>Password</key>
				<dict>
					<key>Availability</key>
					<array>
						<dict>
							<key>AvailabilityKey</key>
							<string>Required</string>
							<key>AvailabilityOS</key>
							<string>Any</string>
							<key>AvailabilityValue</key>
							<true/>
							<key>AvailableIf</key>
							<dict>
								<key>SelectionIdentifier</key>
								<string>091E35E5-7D7E-496D-8DE9-2AAF1BDF0D28</string>
								<key>SelectionValue</key>
								<string>Active Directory</string>
							</dict>
						</dict>
					</array>
					<key>Identifier</key>
					<string>7E2A3AE3-8BC1-4786-857E-B0C14F29225A</string>
					<key>Optional</key>
					<true/>
					<key>Title</key>
					<string>Password</string>
					<key>PayloadType</key>
					<string>com.apple.DirectoryService.managed</string>
					<key>PayloadKey</key>
					<string>Password</string>
					<key>Description</key>
					<string>The directory server password</string>
					<key>CellType</key>
					<string>TextField</string>
					<key>ToolTipDescription</key>
					<string>FIXME</string>
				</dict>
				<key>ClientID</key>
				<dict>
					<key>Identifier</key>
					<string>FA96463B-D8DA-48C0-8391-3D6F1129E585</string>
					<key>Optional</key>
					<true/>
					<key>Title</key>
					<string>Client ID</string>
					<key>PayloadType</key>
					<string>com.apple.DirectoryService.managed</string>
					<key>PayloadKey</key>
					<string>ClientID</string>
					<key>Description</key>
					<string>The directory server client ID</string>
					<key>CellType</key>
					<string>TextField</string>
					<key>ToolTipDescription</key>
					<string>FIXME</string>
				</dict>
			</dict>
			<key>ToolTipDescription</key>
			<string>FIXME</string>
		</dict>
	</array>
</dict>
</plist>
