<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Availability</key>
	<array>
		<dict>
			<key>AvailabilityKey</key>
			<string>Self</string>
			<key>AvailabilityOS</key>
			<string>iOS</string>
			<key>Available</key>
			<false/>
		</dict>
	</array>
	<key>Domain</key>
	<string>com.apple.finder.manifest</string>
	<key>Description</key>
	<string>FIXME</string>
	<key>Title</key>
	<string>Finder</string>
	<key>IconName</key>
	<string>MenuIconFinder.png</string>
	<key>PayloadTypes</key>
	<array>
		<string>com.apple.finder</string>
		<string>com.apple.loginwindow</string>
	</array>
	<key>PayloadScope</key>
	<array>
		<string>User</string>
		<string>System</string>
	</array>
	<key>AllowMultiplePayloads</key>
	<false/>
	<key>ManifestContent</key>
	<array>
		<dict>
			<key>Required</key>
			<true/>
			<key>Identifier</key>
			<string>77A43649-83F5-4D7E-BF05-B10F56439A6E</string>
			<key>CellType</key>
			<string>SegmentedControl</string>
			<key>AvailableValues</key>
			<array>
				<string>Preferences</string>
				<string>Commands</string>
			</array>
			<key>ValueKeys</key>
			<dict>
				<key>Preferences</key>
				<array>
					<dict>
						<key>Identifier</key>
						<string>0CC382FC-3589-4563-B537-C5AC602A499C</string>
						<key>IndentLevelButtons</key>
						<integer>2</integer>
						<key>PayloadType</key>
						<string>com.apple.finder</string>
						<key>PayloadKey</key>
						<string>InterfaceLevel</string>
						<key>PayloadValueType</key>
						<string>String</string>
						<key>DefaultValue</key>
						<string>Use regular Finder</string>
						<key>CellType</key>
						<string>RadioButton</string>
						<key>AvailableValues</key>
						<array>
							<string>Use regular Finder</string>
							<string>Use simple Finder</string>
						</array>
						<key>ValueKeys</key>
						<dict>
							<key>Use regular Finder</key>
							<array>
								<dict>
									<key>PayloadValue</key>
									<string>FIXME</string>
								</dict>
							</array>
							<key>Use simple Finder</key>
							<array>
								<dict>
									<key>PayloadValue</key>
									<string>Simple</string>
								</dict>
							</array>
						</dict>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Required</key>
						<true/>
						<key>Identifier</key>
						<string>ED71CA57-4AA4-4758-BA1E-FC0142AE9D05</string>
						<key>Title</key>
						<string>Show these items on the desktop</string>
						<key>CellType</key>
						<string>TextLabel</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>A87106FA-F1C6-4050-9343-F965E5072575</string>
						<key>Title</key>
						<string>Hard disks</string>
						<key>IndentLevel</key>
						<integer>2</integer>
						<key>FontWeight</key>
						<string>Regular</string>
						<key>PayloadType</key>
						<string>com.apple.finder</string>
						<key>PayloadKey</key>
						<string>ShowHardDrivesOnDesktop</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>InvertBoolean</key>
						<true/>
						<key>DefaultValue</key>
						<true/>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>AB457D2F-9368-4E7A-8477-800B3220EE26</string>
						<key>Title</key>
						<string>External disks</string>
						<key>IndentLevel</key>
						<integer>2</integer>
						<key>FontWeight</key>
						<string>Regular</string>
						<key>PayloadType</key>
						<string>com.apple.finder</string>
						<key>PayloadKey</key>
						<string>ShowExternalHardDrivesOnDesktop</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>InvertBoolean</key>
						<true/>
						<key>DefaultValue</key>
						<true/>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>316C4DE2-2EA7-4689-A914-B92C95A3FDB5</string>
						<key>Title</key>
						<string>CDs, DVDs and iPods</string>
						<key>IndentLevel</key>
						<integer>2</integer>
						<key>FontWeight</key>
						<string>Regular</string>
						<key>PayloadType</key>
						<string>com.apple.finder</string>
						<key>PayloadKey</key>
						<string>ShowRemovableMediaOnDesktop</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>InvertBoolean</key>
						<true/>
						<key>DefaultValue</key>
						<true/>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>FDA91851-7EAB-4BB7-8041-8FA67FCC5680</string>
						<key>Title</key>
						<string>Connected servers</string>
						<key>IndentLevel</key>
						<integer>2</integer>
						<key>FontWeight</key>
						<string>Regular</string>
						<key>PayloadType</key>
						<string>com.apple.finder</string>
						<key>PayloadKey</key>
						<string>ShowMountedServersOnDesktop</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>InvertBoolean</key>
						<true/>
						<key>DefaultValue</key>
						<true/>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>C05302A8-F7BA-4E2D-9FB9-544D9357F040</string>
						<key>Title</key>
						<string>Show warning before emptying the Trash</string>
						<key>PayloadType</key>
						<string>com.apple.finder</string>
						<key>PayloadKey</key>
						<string>WarnOnEmptyTrash</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>InvertBoolean</key>
						<true/>
						<key>DefaultValue</key>
						<true/>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
				</array>
				<key>Commands</key>
				<array>
					<dict>
						<key>Identifier</key>
						<string>EF3CBA2C-9C77-4EDE-B1E2-4583338B7FD2</string>
						<key>Title</key>
						<string>Select commands available to users</string>
						<key>CellType</key>
						<string>TextLabel</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>B7F777B3-9CCE-4BA0-8D67-5004C7E0B810</string>
						<key>Title</key>
						<string>Connect to Server</string>
						<key>IndentLevel</key>
						<integer>2</integer>
						<key>Description</key>
						<string>Opens a dialog box for finding servers on the network</string>
						<key>PayloadType</key>
						<string>com.apple.finder</string>
						<key>PayloadKey</key>
						<string>ProhibitConnectTo</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>InvertBoolean</key>
						<true/>
						<key>DefaultValue</key>
						<true/>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>CE378A67-8787-4FDB-9FDC-4DCCC59000A9</string>
						<key>Title</key>
						<string>Eject</string>
						<key>IndentLevel</key>
						<integer>2</integer>
						<key>Description</key>
						<string>Ejects removable media and mountable volumes</string>
						<key>PayloadType</key>
						<string>com.apple.finder</string>
						<key>PayloadKey</key>
						<string>ProhibitEject</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>InvertBoolean</key>
						<true/>
						<key>DefaultValue</key>
						<true/>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>8F58ECC1-F79B-4206-B89D-789B701334CD</string>
						<key>Title</key>
						<string>Burn Disc</string>
						<key>IndentLevel</key>
						<integer>2</integer>
						<key>Description</key>
						<string>Writes permanent information to a CD or DVD</string>
						<key>PayloadType</key>
						<string>com.apple.finder</string>
						<key>PayloadKey</key>
						<string>ProhibitBurn</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>InvertBoolean</key>
						<true/>
						<key>DefaultValue</key>
						<true/>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>943015C2-095E-4F99-B6E9-D96F6E551D45</string>
						<key>Title</key>
						<string>Go to Folder</string>
						<key>IndentLevel</key>
						<integer>2</integer>
						<key>Description</key>
						<string>Allows user to open files or folders by typing a pathname</string>
						<key>PayloadType</key>
						<string>com.apple.finder</string>
						<key>PayloadKey</key>
						<string>ProhibitGoToFolder</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>InvertBoolean</key>
						<true/>
						<key>DefaultValue</key>
						<true/>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>11C38212-C3F7-4FB8-A580-1C8A8395BFB8</string>
						<key>Title</key>
						<string>Restart</string>
						<key>IndentLevel</key>
						<integer>2</integer>
						<key>Description</key>
						<string>Makes the restart command appear in the Apple menu</string>
						<key>PayloadType</key>
						<string>com.apple.loginwindow</string>
						<key>PayloadKey</key>
						<string>RestartDisabledWhileLoggedIn</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>InvertBoolean</key>
						<true/>
						<key>DefaultValue</key>
						<true/>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>AFDF04D0-6F3A-4A96-BADE-29E362EA1CED</string>
						<key>Title</key>
						<string>Shut Down</string>
						<key>IndentLevel</key>
						<integer>2</integer>
						<key>Description</key>
						<string>Makes the shut down command appear in the Apple menu</string>
						<key>PayloadType</key>
						<string>com.apple.loginwindow</string>
						<key>PayloadKey</key>
						<string>ShutDownDisabledWhileLoggedIn</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>InvertBoolean</key>
						<true/>
						<key>DefaultValue</key>
						<true/>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
