<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Availability</key>
	<array>
		<dict>
			<key>AvailabilityKey</key>
			<string>Self</string>
			<key>AvailabilityOS</key>
			<string>iOS</string>
			<key>Available</key>
			<false/>
		</dict>
	</array>
	<key>Domain</key>
	<string>com.apple.universalaccess.manifest</string>
	<key>Description</key>
	<string>FIXME</string>
	<key>Title</key>
	<string>Accessiblity</string>
	<key>IconName</key>
	<string>MenuIconAccessibility.png</string>
	<key>PayloadType</key>
	<string>com.apple.universalaccess</string>
	<key>AllowMultiplePayloads</key>
	<false/>
	<key>ManifestContent</key>
	<array>
		<dict>
			<key>Required</key>
			<true/>
			<key>Identifier</key>
			<string>A9E78A52-4D21-4B45-A5F6-EA6FB0082528</string>
			<key>CellType</key>
			<string>SegmentedControl</string>
			<key>AvailableValues</key>
			<array>
				<string>Vision</string>
				<string>Hearing</string>
				<string>Interacting</string>
			</array>
			<key>ValueKeys</key>
			<dict>
				<key>Vision</key>
				<array>
					<dict>
						<key>Identifier</key>
						<string>45380629-EE57-4E64-8A9A-0150825AF93F</string>
						<key>Title</key>
						<string>Zoom Options</string>
						<key>CellType</key>
						<string>TextLabel</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>E97CD669-919F-4260-878D-369DE3EDD78C</string>
						<key>Title</key>
						<string>Enable Zoom via ScrollWheel</string>
						<key>IndentLevel</key>
						<integer>4</integer>
						<key>PayloadType</key>
						<string>com.apple.universalaccess</string>
						<key>PayloadKey</key>
						<string>closeViewScrollWheelToggle</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>565D3127-A7A2-4C12-BBB6-8EFFD6B7DC1D</string>
						<key>Title</key>
						<string>Enable Zoom via Keyboard</string>
						<key>IndentLevel</key>
						<integer>4</integer>
						<key>PayloadType</key>
						<string>com.apple.universalaccess</string>
						<key>PayloadKey</key>
						<string>closeViewHotkeysEnabled</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>325E46FF-F58E-4E31-9B76-1C6A310AD6F6</string>
						<key>Title</key>
						<string>Maximum Zoom</string>
						<key>PayloadType</key>
						<string>com.apple.universalaccess</string>
						<key>PayloadKey</key>
						<string>closeViewNearPoint</string>
						<key>PayloadValueType</key>
						<string>Integer</string>
						<key>IndentLevel</key>
						<integer>4</integer>
						<key>CellType</key>
						<string>PopUpButton</string>
						<key>DefaultValue</key>
						<string>10</string>
						<key>AvailableValues</key>
						<array>
							<string>1</string>
							<string>2</string>
							<string>3</string>
							<string>4</string>
							<string>5</string>
							<string>6</string>
							<string>7</string>
							<string>8</string>
							<string>9</string>
							<string>10</string>
						</array>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>A336F7DA-8B23-43F9-9A26-ACBF2C254A4B</string>
						<key>Title</key>
						<string>Minimum Zoom</string>
						<key>PayloadType</key>
						<string>com.apple.universalaccess</string>
						<key>PayloadKey</key>
						<string>closeViewFarPoint</string>
						<key>PayloadValueType</key>
						<string>Integer</string>
						<key>IndentLevel</key>
						<integer>4</integer>
						<key>CellType</key>
						<string>PopUpButton</string>
						<key>DefaultValue</key>
						<string>1</string>
						<key>AvailableValues</key>
						<array>
							<string>1</string>
							<string>2</string>
							<string>3</string>
							<string>4</string>
							<string>5</string>
							<string>6</string>
							<string>7</string>
							<string>8</string>
							<string>9</string>
							<string>10</string>
						</array>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>1515A74D-8D13-492E-8996-35F6185E0FD5</string>
						<key>Title</key>
						<string>Show preview rectangle when zoomed out</string>
						<key>IndentLevel</key>
						<integer>4</integer>
						<key>PayloadType</key>
						<string>com.apple.universalaccess</string>
						<key>PayloadKey</key>
						<string>closeViewShowPreview</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>00B89BAB-521E-40E1-874A-523AC5CA6585</string>
						<key>Title</key>
						<string>Smooth images</string>
						<key>IndentLevel</key>
						<integer>4</integer>
						<key>PayloadType</key>
						<string>com.apple.universalaccess</string>
						<key>PayloadKey</key>
						<string>closeViewSmoothImages</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>E7EA90C0-FA77-4D8A-AF45-AB0ECE443EA6</string>
						<key>Title</key>
						<string>Display Options</string>
						<key>CellType</key>
						<string>TextLabel</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>4F6FA7E9-8906-42C7-AA95-32248904DF79</string>
						<key>Title</key>
						<string>Invert colors</string>
						<key>IndentLevel</key>
						<integer>4</integer>
						<key>PayloadType</key>
						<string>com.apple.universalaccess</string>
						<key>PayloadKey</key>
						<string>whiteOnBlack</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>C62F4D53-DD74-47EA-B540-0BB7D83BE2E9</string>
						<key>Title</key>
						<string>Use grayscale</string>
						<key>IndentLevel</key>
						<integer>4</integer>
						<key>PayloadType</key>
						<string>com.apple.universalaccess</string>
						<key>PayloadKey</key>
						<string>grayscale</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>A336F7DA-8B23-43F9-9A26-ACBF2C254A4B</string>
						<key>Title</key>
						<string>Enhance Constant</string>
						<key>PayloadType</key>
						<string>com.apple.universalaccess</string>
						<key>PayloadKey</key>
						<string>contrast</string>
						<key>PayloadValueType</key>
						<string>Integer</string>
						<key>IndentLevel</key>
						<integer>4</integer>
						<key>CellType</key>
						<string>PopUpButton</string>
						<key>DefaultValue</key>
						<string>default</string>
						<key>AvailableValues</key>
						<array>
							<string>default</string>
							<string>1</string>
							<string>2</string>
							<string>3</string>
							<string>4</string>
							<string>5</string>
							<string>6</string>
							<string>7</string>
							<string>8</string>
							<string>9</string>
							<string>10</string>
						</array>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>4D7904E6-3221-422A-AF32-CCA2D32DE55E</string>
						<key>Title</key>
						<string>Cursor size</string>
						<key>PayloadType</key>
						<string>com.apple.universalaccess</string>
						<key>PayloadKey</key>
						<string>mouseDriverCursorSize</string>
						<key>PayloadValueType</key>
						<string>Integer</string>
						<key>IndentLevel</key>
						<integer>4</integer>
						<key>CellType</key>
						<string>PopUpButton</string>
						<key>DefaultValue</key>
						<string>1</string>
						<key>AvailableValues</key>
						<array>
							<string>1</string>
							<string>2</string>
							<string>3</string>
							<string>4</string>
						</array>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>588D0B5A-71B3-4247-A800-DC9AB17D1582</string>
						<key>Title</key>
						<string>VoiceOver Options</string>
						<key>CellType</key>
						<string>TextLabel</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>CFE57294-6E44-442C-BBB0-251065DD9920</string>
						<key>Title</key>
						<string>Enable VoiceOver</string>
						<key>IndentLevel</key>
						<integer>4</integer>
						<key>PayloadType</key>
						<string>com.apple.universalaccess</string>
						<key>PayloadKey</key>
						<string>voiceOverOnOffKey</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
				</array>
				<key>Hearing</key>
				<array>
					<dict>
						<key>Identifier</key>
						<string>49FAF438-B94A-41EF-AC38-A7512323D88F</string>
						<key>Title</key>
						<string>Flash the screen when an alert occurs</string>
						<key>PayloadType</key>
						<string>com.apple.universalaccess</string>
						<key>PayloadKey</key>
						<string>flashScreen</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>9AAF4FFE-53C4-4893-A08B-183C2C8F5758</string>
						<key>Title</key>
						<string>Play stereo audio as mono</string>
						<key>PayloadType</key>
						<string>com.apple.universalaccess</string>
						<key>PayloadKey</key>
						<string>stereoAsMono</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
				</array>
				<key>Interacting</key>
				<array>
					<dict>
						<key>Identifier</key>
						<string>B2750B5A-AB2D-4A53-AE21-279646C20377</string>
						<key>Title</key>
						<string>Enable Sticky Keys</string>
						<key>PayloadType</key>
						<string>com.apple.universalaccess</string>
						<key>PayloadKey</key>
						<string>stickyKey</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>DefaultValue</key>
						<true/>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Availability</key>
						<array>
							<dict>
								<key>AvailabilityKey</key>
								<string>Enabled</string>
								<key>AvailabilityOS</key>
								<string>Any</string>
								<key>AvailabilityValue</key>
								<false/>
								<key>AvailableIf</key>
								<dict>
									<key>SelectionIdentifier</key>
									<string>B2750B5A-AB2D-4A53-AE21-279646C20377</string>
									<key>SelectionValue</key>
									<false/>
								</dict>
							</dict>
						</array>
						<key>Identifier</key>
						<string>ADA629EF-B45E-48C5-B3ED-529D4EC0FF1A</string>
						<key>Title</key>
						<string>Beep when a modifier key is set</string>
						<key>IndentLevel</key>
						<integer>2</integer>
						<key>PayloadType</key>
						<string>com.apple.universalaccess</string>
						<key>PayloadKey</key>
						<string>stickyKeyBeepOnModifier</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>DefaultValue</key>
						<true/>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Availability</key>
						<array>
							<dict>
								<key>AvailabilityKey</key>
								<string>Enabled</string>
								<key>AvailabilityOS</key>
								<string>Any</string>
								<key>AvailabilityValue</key>
								<false/>
								<key>AvailableIf</key>
								<dict>
									<key>SelectionIdentifier</key>
									<string>B2750B5A-AB2D-4A53-AE21-279646C20377</string>
									<key>SelectionValue</key>
									<false/>
								</dict>
							</dict>
						</array>
						<key>Identifier</key>
						<string>C43ED3AB-6D92-4C6D-A9B5-22F425DF3BED</string>
						<key>Title</key>
						<string>Display pressed keys on screen</string>
						<key>IndentLevel</key>
						<integer>2</integer>
						<key>PayloadType</key>
						<string>com.apple.universalaccess</string>
						<key>PayloadKey</key>
						<string>stickyKeyShowWindow</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>DefaultValue</key>
						<true/>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>42533EEC-56F1-4F38-9EA5-D4AF9756F8AF</string>
						<key>Title</key>
						<string>Enable Slow Keys</string>
						<key>PayloadType</key>
						<string>com.apple.universalaccess</string>
						<key>PayloadKey</key>
						<string>slowKey</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Availability</key>
						<array>
							<dict>
								<key>AvailabilityKey</key>
								<string>Enabled</string>
								<key>AvailabilityOS</key>
								<string>Any</string>
								<key>AvailabilityValue</key>
								<false/>
								<key>AvailableIf</key>
								<dict>
									<key>SelectionIdentifier</key>
									<string>42533EEC-56F1-4F38-9EA5-D4AF9756F8AF</string>
									<key>SelectionValue</key>
									<false/>
								</dict>
							</dict>
						</array>
						<key>Identifier</key>
						<string>450C9994-228D-4A9E-8BCA-BEA90FA30C36</string>
						<key>Title</key>
						<string>Use click key sounds</string>
						<key>PayloadType</key>
						<string>com.apple.universalaccess</string>
						<key>PayloadKey</key>
						<string>slowKeyBeepOn</string>
						<key>IndentLevel</key>
						<integer>2</integer>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>DefaultValue</key>
						<true/>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Availability</key>
						<array>
							<dict>
								<key>AvailabilityKey</key>
								<string>Enabled</string>
								<key>AvailabilityOS</key>
								<string>Any</string>
								<key>AvailabilityValue</key>
								<false/>
								<key>AvailableIf</key>
								<dict>
									<key>SelectionIdentifier</key>
									<string>42533EEC-56F1-4F38-9EA5-D4AF9756F8AF</string>
									<key>SelectionValue</key>
									<false/>
								</dict>
							</dict>
						</array>
						<key>Identifier</key>
						<string>DE45B240-809D-4472-8F2A-0D88F471BD75</string>
						<key>Title</key>
						<string>Acceptance delay</string>
						<key>PayloadType</key>
						<string>com.apple.universalaccess</string>
						<key>PayloadKey</key>
						<string>slowKeyDelay</string>
						<key>PayloadValueType</key>
						<string>Integer</string>
						<key>IndentLevel</key>
						<integer>2</integer>
						<key>Unit</key>
						<string>milliseconds</string>
						<key>CellType</key>
						<string>TextFieldNumber</string>
						<key>DefaultValue</key>
						<integer>250</integer>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>A49D6350-AADF-4266-B3A6-A637224B389F</string>
						<key>Title</key>
						<string>Enable Mouse Keys</string>
						<key>PayloadType</key>
						<string>com.apple.universalaccess</string>
						<key>PayloadKey</key>
						<string>mouseDriver</string>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Availability</key>
						<array>
							<dict>
								<key>AvailabilityKey</key>
								<string>Enabled</string>
								<key>AvailabilityOS</key>
								<string>Any</string>
								<key>AvailabilityValue</key>
								<false/>
								<key>AvailableIf</key>
								<dict>
									<key>SelectionIdentifier</key>
									<string>A49D6350-AADF-4266-B3A6-A637224B389F</string>
									<key>SelectionValue</key>
									<false/>
								</dict>
							</dict>
						</array>
						<key>Identifier</key>
						<string>B448F41B-F32F-46D5-ACE1-EB96CC0566C9</string>
						<key>Title</key>
						<string>Initial delay</string>
						<key>PayloadType</key>
						<string>com.apple.universalaccess</string>
						<key>PayloadKey</key>
						<string>mouseDriverInitialDelay</string>
						<key>PayloadValueType</key>
						<string>Integer</string>
						<key>IndentLevel</key>
						<integer>2</integer>
						<key>CellType</key>
						<string>PopUpButton</string>
						<key>DefaultValue</key>
						<string>1 second</string>
						<key>AvailableValues</key>
						<array>
							<string>0.25 seconds</string>
							<string>0.5 seconds</string>
							<string>0.75 seconds</string>
							<string>1 second</string>
							<string>1.25 seconds</string>
							<string>1.5 seconds</string>
							<string>1.75 seconds</string>
							<string>2 seconds</string>
						</array>
						<key>ValueKeys</key>
						<dict>
							<key>0.25 seconds</key>
							<array>
								<dict>
									<key>PayloadValue</key>
									<real>0.25</real>
								</dict>
							</array>
							<key>0.5 seconds</key>
							<array>
								<dict>
									<key>PayloadValue</key>
									<real>0.5</real>
								</dict>
							</array>
							<key>0.75 seconds</key>
							<array>
								<dict>
									<key>PayloadValue</key>
									<real>0.75</real>
								</dict>
							</array>
							<key>1 second</key>
							<array>
								<dict>
									<key>PayloadValue</key>
									<integer>1</integer>
								</dict>
							</array>
							<key>1.25 seconds</key>
							<array>
								<dict>
									<key>PayloadValue</key>
									<real>1.25</real>
								</dict>
							</array>
							<key>1.5 seconds</key>
							<array>
								<dict>
									<key>PayloadValue</key>
									<real>1.5</real>
								</dict>
							</array>
							<key>1.75 seconds</key>
							<array>
								<dict>
									<key>PayloadValue</key>
									<real>1.75</real>
								</dict>
							</array>
							<key>2 seconds</key>
							<array>
								<dict>
									<key>PayloadValue</key>
									<integer>2</integer>
								</dict>
							</array>
						</dict>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Availability</key>
						<array>
							<dict>
								<key>AvailabilityKey</key>
								<string>Enabled</string>
								<key>AvailabilityOS</key>
								<string>Any</string>
								<key>AvailabilityValue</key>
								<false/>
								<key>AvailableIf</key>
								<dict>
									<key>SelectionIdentifier</key>
									<string>A49D6350-AADF-4266-B3A6-A637224B389F</string>
									<key>SelectionValue</key>
									<false/>
								</dict>
							</dict>
						</array>
						<key>Identifier</key>
						<string>CA4A3DB2-3284-4770-9F7E-28F6B13791B9</string>
						<key>Title</key>
						<string>Maximum speed</string>
						<key>PayloadType</key>
						<string>com.apple.universalaccess</string>
						<key>PayloadKey</key>
						<string>mouseDriverMaxSpeed</string>
						<key>PayloadValueType</key>
						<string>Integer</string>
						<key>IndentLevel</key>
						<integer>2</integer>
						<key>CellType</key>
						<string>PopUpButton</string>
						<key>DefaultValue</key>
						<string>Medium</string>
						<key>AvailableValues</key>
						<array>
							<string>Slow</string>
							<string>Medium</string>
							<string>Fast</string>
						</array>
						<key>ValueKeys</key>
						<dict>
							<key>Slow</key>
							<array>
								<dict>
									<key>PayloadValue</key>
									<integer>3</integer>
								</dict>
							</array>
							<key>Medium</key>
							<array>
								<dict>
									<key>PayloadValue</key>
									<integer>11</integer>
								</dict>
							</array>
							<key>Fast</key>
							<array>
								<dict>
									<key>PayloadValue</key>
									<integer>24</integer>
								</dict>
							</array>
						</dict>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
					<dict>
						<key>Availability</key>
						<array>
							<dict>
								<key>AvailabilityKey</key>
								<string>Enabled</string>
								<key>AvailabilityOS</key>
								<string>Any</string>
								<key>AvailabilityValue</key>
								<false/>
								<key>AvailableIf</key>
								<dict>
									<key>SelectionIdentifier</key>
									<string>A49D6350-AADF-4266-B3A6-A637224B389F</string>
									<key>SelectionValue</key>
									<false/>
								</dict>
							</dict>
						</array>
						<key>Identifier</key>
						<string>A292D310-D98B-43E3-BCF5-0CA6F2342E0F</string>
						<key>Title</key>
						<string>Ignore built-in trackpad</string>
						<key>PayloadType</key>
						<string>com.apple.universalaccess</string>
						<key>PayloadKey</key>
						<string>mouseDriverIgnoreTrackpad</string>
						<key>IndentLevel</key>
						<integer>2</integer>
						<key>CellType</key>
						<string>Checkbox</string>
						<key>ToolTipDescription</key>
						<string>FIXME</string>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
