<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Availability</key>
	<array>
		<dict>
			<key>AvailabilityKey</key>
			<string>Self</string>
			<key>AvailabilityOS</key>
			<string>iOS</string>
			<key>Available</key>
			<false/>
		</dict>
	</array>
	<key>Domain</key>
	<string>com.apple.dock.manifest</string>
	<key>Description</key>
	<string>FIXME</string>
	<key>Title</key>
	<string>Dock</string>
	<key>IconName</key>
	<string>MenuIconDock.png</string>
	<key>PayloadType</key>
	<string>com.apple.dock</string>
	<key>AllowMultiplePayloads</key>
	<false/>
	<key>ManifestContent</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Display Settings</string>
			<key>Description</key>
			<string>Settings for Dock behavior and appearance</string>
			<key>CellType</key>
			<string>TextLabel</string>
		</dict>
	</array>
</dict>
</plist>
