<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Availability</key>
	<array>
		<dict>
			<key>AvailabilityKey</key>
			<string>Self</string>
			<key>AvailabilityOS</key>
			<string>OSX</string>
			<key>AvailableFrom</key>
			<string>10.10</string>
		</dict>
		<dict>
			<key>AvailabilityKey</key>
			<string>Self</string>
			<key>AvailabilityOS</key>
			<string>iOS</string>
			<key>AvailableFrom</key>
			<string>7.0</string>
		</dict>
	</array>
	<key>Domain</key>
	<string>com.apple.airplay.manifest</string>
	<key>Description</key>
	<string>FIXME</string>
	<key>Title</key>
	<string>AirPlay</string>
	<key>IconName</key>
	<string>MenuIconAirPlay.png</string>
	<key>AllowMultiplePayloads</key>
	<false/>
	<key>PayloadTypes</key>
	<array>
		<string>com.apple.airplay</string>
	</array>
	<key>ManifestContent</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>1B99BB1B-8F64-45D3-AD07-7BE97A2B2D2C</string>
			<key>Title</key>
			<string>Passwords</string>
			<key>Optional</key>
			<true/>
			<key>PayloadType</key>
			<string>com.apple.airplay</string>
			<key>PayloadKey</key>
			<string>Passwords</string>
			<key>Description</key>
			<string>Add settings for known devices</string>
			<key>CellType</key>
			<string>TableView</string>
			<key>ToolTipDescription</key>
			<string>Configure known AirPlay destinations</string>
			<key>TableViewColumns</key>
			<array>
				<dict>
					<key>Identifier</key>
					<string>2E8D9BBF-D019-4C61-AEE5-7DFC1019CBAE</string>
					<key>Availability</key>
					<array>
						<dict>
							<key>AvailabilityKey</key>
							<string>Self</string>
							<key>AvailabilityOS</key>
							<string>OSX</string>
							<key>Available</key>
							<false/>
						</dict>
					</array>
					<key>Title</key>
					<string>Device Name (iOS)</string>
					<key>PlaceholderValue</key>
					<string>Device Name</string>
					<key>PayloadType</key>
					<string>com.apple.airplay</string>
					<key>PayloadKey</key>
					<string>DeviceName</string>
					<key>PayloadValueType</key>
					<string>String</string>
					<key>CellType</key>
					<string>TableViewTextField</string>
				</dict>
				<dict>
					<key>Identifier</key>
					<string>50F0206D-ABA6-4AC2-A521-50F893A2160A</string>
					<key>Availability</key>
					<array>
						<dict>
							<key>AvailabilityKey</key>
							<string>Self</string>
							<key>AvailabilityOS</key>
							<string>iOS</string>
							<key>Available</key>
							<false/>
						</dict>
					</array>
					<key>Title</key>
					<string>DeviceID (OS X)</string>
					<key>PayloadType</key>
					<string>com.apple.airplay</string>
					<key>PayloadKey</key>
					<string>DeviceID</string>
					<key>PayloadValueType</key>
					<string>String</string>
					<key>CellType</key>
					<string>TableViewTextField</string>
				</dict>
				<dict>
					<key>Identifier</key>
					<string>FA0003DC-A282-4013-A8F2-6D2B293DF46E</string>
					<key>Title</key>
					<string>Password</string>
					<key>PayloadType</key>
					<string>com.apple.airplay</string>
					<key>PayloadKey</key>
					<string>Password</string>
					<key>PayloadValueType</key>
					<string>String</string>
					<key>CellType</key>
					<string>TableViewTextField</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>7836064E-9CFE-44FE-A824-240A294AE49D</string>
			<key>Title</key>
			<string>Whitelist</string>
			<key>Optional</key>
			<true/>
			<key>PayloadType</key>
			<string>com.apple.airplay</string>
			<key>PayloadKey</key>
			<string>Whitelist</string>
			<key>Description</key>
			<string>Only destinations with the following DeviceIDs will be available on device</string>
			<key>SupervisedOnly</key>
			<true/>
			<key>CellType</key>
			<string>TableView</string>
			<key>ToolTipDescription</key>
			<string>Only AirPlay destinations present in this list are available to the device</string>
			<key>TableViewColumns</key>
			<array>
				<dict>
					<key>Identifier</key>
					<string>787EFDEF-76B0-4D6F-B3DB-D7A8725F4E05</string>
					<key>Title</key>
					<string>DeviceID</string>
					<key>PayloadType</key>
					<string>com.apple.airplay</string>
					<key>PayloadKey</key>
					<string>DeviceID</string>
					<key>PayloadValueType</key>
					<string>String</string>
					<key>CellType</key>
					<string>TableViewTextField</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
