<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CellType</key>
	<string>Menu</string>
	<key>Domain</key>
	<string>com.apple.security.certificate</string>
	<key>Description</key>
	<string>Not Configured</string>
	<key>Title</key>
	<string>Certificates</string>
	<key>IconName</key>
	<string>MenuIconCertificates.png</string>
	<key>IconPath</key>
	<string>/System/Library/Frameworks/SecurityInterface.framework/Versions/A/Resources/CertLargeRoot@2x.png</string>
	<key>AllowMultiplePayloads</key>
	<true/>
	<key>PayloadTabTitle</key>
	<string>65DF04E0-D3BD-4246-9317-195AF87ABB9C</string>
	<key>PayloadTypes</key>
	<array>
		<string>com.apple.security.certificate</string>
	</array>
	<key>ManifestContent</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>65DF04E0-D3BD-4246-9317-195AF87ABB9C</string>
			<key>Title</key>
			<string>Certificate Name</string>
			<key>PayloadType</key>
			<string>com.apple.security.certificate</string>
			<key>PayloadKey</key>
			<string>PayloadCertificateFileName</string>
			<key>Description</key>
			<string>Name or description of the certificate credential</string>
			<key>CellType</key>
			<string>TextField</string>
			<key>ToolTipDescription</key>
			<string>The file name of the enclosed certificate</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>CD3A7674-0C3C-481B-9D6A-142262944EB3</string>
			<key>Title</key>
			<string>Certificate or Identity Data</string>
			<key>PayloadType</key>
			<string>com.apple.security.certificate</string>
			<key>PayloadKey</key>
			<string>PayloadContent</string>
			<key>PayloadValueType</key>
			<string>Data</string>
			<key>Description</key>
			<string>X.509 certificate (.cer, .p12, etc) for inclusion on device</string>
			<key>CellType</key>
			<string>File</string>
			<key>FilePrompt</key>
			<string>Add Certificate</string>
			<key>ButtonTitle</key>
			<string>Add Certificate...</string>
			<key>AllowedFileTypes</key>
			<array>
				<string>public.x509-certificate</string>
			</array>
			<key>ToolTipDescription</key>
			<string>The binary representation of the payload</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>E0D61509-633D-4879-9B34-EE150E603412</string>
			<key>Title</key>
			<string>Passphrase</string>
			<key>PayloadType</key>
			<string>com.apple.security.certificate</string>
			<key>PayloadKey</key>
			<string>Password</string>
			<key>Description</key>
			<string>Passphrase used to secure the credentials</string>
			<key>CellType</key>
			<string>TextField</string>
			<key>ToolTipDescription</key>
			<string>For PKCS#12 certificates, contains the password to the identity</string>
		</dict>
	</array>
</dict>
</plist>
